[2015-04-18 17:47] mattheworiordan opened #4 "API changes Apr 2015"
Before our stable release, we agreed to make a few final amends to our client library APIs to improve consistency and reduce ambiguity.

The token related changes are breaking changes, so we need these changes to be rolled out for this client library ASAP as we intend on migrating to the new API early next week.  This means that this library will no longer be able to use Token auth when this chang

[2015-04-20 13:15] mattheworiordan opened #6 "README must contain working examples in line with other client libraries"
See https://github.com/ably/ably-ruby/blob/master/README.md for an example of how every client library includes basic code examples that demonstrate how to use the client library.

@thevixac, we need to add examples to match the Ruby README format.  Can you please add this?

[2015-04-29 15:53] mattheworiordan opened #10 "Release POD"
When doing a lint on the pod spec I get an error:

[code]

Also, once this is fixed, can you advise how I can publish this pod?

[2015-04-29 15:53] mattheworiordan commented on #10
@thevixac please see above?

[2015-05-05 11:12] mattheworiordan opened #11 "Spec validation"
For version 0.8 of our client libraries, we have a documented specification at http://docs.ably.io/client-lib-development-guide/features/

It is required that all of our client libraries that use a 0.8.x version number, where possible, adhere to this specification ensuring feature compatibility across all languages and platforms. To ensure that we do not have regressions in future from this specif

[2015-08-26 14:09] stannedelchev opened #20 "No visible @interface for 'ARTRealtime' declares the selector 'subscribeToStateChanges:'"
I'm using the connection code from README.md, but I keep getting the error above.

     ARTRealtime * client = [[ARTRealtime alloc] initWithKey:@"xxxxx"];
     [client subscribeToStateChanges:^(ARTRealtimeConnectionState state) {
         if (state == ARTRealtimeConnected) {
             // you are connected
         }
     }];

What's the recommended way to subscribe to connection changes? Is usi

[2015-08-26 14:18] mattheworiordan commented on #20
@fealebenpae are you able to help with this?

[2015-08-26 15:24] fealebenpae commented on #20
`-[ARTRealTime subscribeToStateChanges:]` is a private method that the event emitter calls internally. You can use the event emitter to monitor state changes. The "state" attribute on `ARTRealtime` is Key Value Observing-compatible, so you can use Cocoa's [KVO methods](http://nshipster.com/key-value-observing/) to observe state changes as well.

[2015-08-28 16:41] stannedelchev opened #21 "Error: "Either a token, token param, or a keyName and secret are required to connect to Ably""
I'm trying to use an auth url in the constructor of the realtime:

    let clientOptions = ARTClientOptions()
    clientOptions.authOptions.authUrl = NSURL(string: "https://www.ably.io/ably-auth/token-request/demos")
    clientOptions.clientId = "stan"

    let realtime = ARTRealtime(options: clientOptions)

However, I'm getting this error in the constructor:
[code]

FYI @mattheworiordan @fealeben

[2015-08-28 22:24] fealebenpae commented on #21
I think token authentication with the `authUrl` option should work (except for the error in the `ARTAuth` initializer), but I can't be certain since I'm in the process of going through basic authentication at the moment, and then I'll move on to token authentication. You can try removing the check on ARTAuth.m line 238 which I think should unblock you.

[2015-08-31 13:43] stannedelchev commented on #20
@fealebenpae thanks for the info.

@mattheworiordan It would be nice to have some up-to-date documentation for the iOS lib. There is nothing on docs.ably.io at this point and IMO the README is not sufficient.

[2015-08-31 15:06] stannedelchev commented on #21
I removed the `if` check you mentioned. That way the code blows up again, but this time on line 386:

    return cb(@{@"Authorization": self.basicCredentials});
as `basicCredentials` is `nil`

[code]

[2015-09-02 12:32] fealebenpae commented on #21
I think I've gotten to the bottom of this - the `clientId` property of `ARTClientOptions` is ignored. You need to set the `ARTAuthOptions`'s `clientId`:
[code]

I'll remove the `clientId` property from `ARTClientOptions`.

[2015-09-02 13:23] mattheworiordan commented on #21
@fealebenpae where is `ClientOptions` used as the format seems wrong?  See http://docs.ably.io/client-lib-development-guide/features/#options for a spec on the format of this type.

[2015-09-18 19:11] stannedelchev opened #22 "Unable to connect to Ably"
I'm using the following code to connect to Ably, but the connection timeouts every time I run the app.
The `.on()` handler receives a .Connecting, 15 seconds later a .Failed state, with a nil errorReason.
The key is taken from [jsbin.ably.io](), but any key from my ably.io apps is broken as well.

    let logger = ARTLog()
    logger.logLevel = ARTLogLevel.Verbose

    let clientOptions = ARTClien

[2015-09-23 11:02] mattheworiordan commented on #22
@fealebenpae are you able to help with this?  This is a blocker at present unfortunately.

[2015-09-26 11:46] ricardopereira commented on #22
First of all, the logger is broken. The `ARTRest` class and the `ARTRealtime` class use different `ARTLog` instances and when you assign your own logger and do `logger.logLevel = ARTLogLevel.Verbose` it will be ignored on the `ARTRest` instance. That is something I can fix easily.

So, the complete log is:

[code]

@mattheworiordan Do you see any suspicious?

[2015-09-29 13:14] mattheworiordan opened #24 "Switch arity of auth methods"
See https://github.com/ably/docs/commit/63ff7fa2d654641a9d7856bd8dc67beb937d3fef

The `AuthOptions` and `TokenParams` arguments are switched.

[2015-10-13 09:40] ricardopereira opened #27 "`ARTAuth` dependes on `ARTRest` and it shouldn't"
`ARTAuth` dependes on `ARTRest` and it shouldn't because it difficult's the testing process.

`ARTAuth` needs `ARTRest` instance for:
 - Logger
 - HttpExecutor
 - BaseURL
 - Default Encoder
 - Server Time request

[2015-10-13 10:25] ricardopereira opened #28 "`ARTRest` should request access token automatically"

[2015-10-13 22:17] mattheworiordan commented on #27
@ricardopereira generally we have had a generic HTTP library for all HTTP actions, but not depending on ARTAuth may be difficult as the logger, encoders, server time and URLs are generally common functionality.  I am sure you will figure out what is best...

[2015-10-21 23:03] ricardopereira commented on #22
Resolved with #31. Can be closed.

[2015-10-21 23:04] ricardopereira commented on #28
Done

[2015-10-21 23:04] #28 closed

[2015-10-22 08:48] #22 closed

[2015-10-28 14:54] ricardopereira opened #36 "Realtime: there is no dedicated object to manage connections"

[2015-10-28 18:01] mattheworiordan commented on #36
Ok, this in itself is not necessarily an issue, however are you therefore implying that all of `RTN*` cannot be supported, without a refactor i.e. we need a `Connection` object, but whether it is managed with a `ConnectionManager` or a state machine for example, is not necessarily part of the spec.

[2015-10-28 18:20] ricardopereira commented on #36
@mattheworiordan There is no Connection object either. The Realtime client instances a Transport object and connects to the server with the current WebSocket. Just one connection per client.

[2015-10-28 18:22] mattheworiordan commented on #36
@ricardopereira that is fine, other than the `ably-js` library, there is only ever one transport open using WebSockets, and in all libraries there is only ever one `Connection` open as well. As a workaround, we could perhaps simple create a Proxy Connection object that exhibits the properties described in the spec, but simply references the attributes in the Client itself. That way, we don't need

[2015-10-28 18:28] ricardopereira commented on #36
Well, the connection is handled on the `ARTWebSocketTransport`. I can add a protocol to mirror the existing methods from `ARTRealtime`. Like you said, a proxy Connection object. It's the best workaround.

[2015-10-28 18:35] mattheworiordan commented on #36
BTW. What happens when the transport is closed & re-opened (such as connection failure), does the `ARTWebSocketTransport` remain consistent or is a new object created each time?

[2015-10-28 18:36] ricardopereira commented on #36
The object remains consistent.

On Wednesday, 28 October 2015, mattheworiordan <notifications@github.com>
wrote:

[2015-10-28 18:46] mattheworiordan commented on #36
Ok, great, well lets go with a proxy object for now as that will allow us to meet the requirements of the spec easily

[2015-10-30 11:44] ricardopereira opened #41 "Realtime: timeouts implementations are outdated"
I'm opening this issue because of:

[code]

Currently, the `ClientOptions` doesn't have any of the `TO3l` specifications:
- **disconnectedRetryTimeout**: possible to implement with small refactoring
- **suspendedRetryTimeout**: possible to implement with small refactoring
- **httpOpenTimeout**: bigger refactoring
- **httpRequestTimeout**: bigger refactoring
- **httpMaxRetryCount**: bigger refactor

[2015-10-30 11:44] ricardopereira commented on #41
With this I need to now what's important to test right now having in mind the current state of the lib.

@mattheworiordan /cc @paddybyers

[2015-11-03 00:24] ricardopereira commented on #41
Check changes:
https://github.com/ably/docs/commit/1f853e96b1a63fadf9c7c9f613d1a1d273a048cd

[2015-11-04 13:39] mattheworiordan commented on #41
@ricardopereira implementing configurable timeouts is probably lower priority for now.

I am not sure what you mean by `DF1a` and `DF1b` needing refactoring, to be clear the impact I assume is:

* `connectionStateTtl ` will simply map the existing max time in state for the disconnected state i.e. the iOS Realtime library should have already implemented some mechanism to move from the `disconnected

[2015-11-07 20:39] ricardopereira opened #48 "Tests: List of ObjC tests"
_**Purpose:** to avoid pollution on the iOS specs spreadsheet and keep record of tests to be removed or rewritten. Current state of the tests._

_**Legend:**_
 - remove ❌
 - spec don't exist but seems ok ⚠️
 - rewrite ‼️
 - fix ⭕️
 - seems ok ✅

Some of them I couldn't relate to a specific spec because most of them are testing multi aspects. Ex: Checking `Channel#subscribe` and `Channel#unsubscrib

[2015-11-11 18:52] ricardopereira commented on #48
[code]

It's failing on parsing `test-app-setup.json`.

[2015-11-11 18:58] mattheworiordan commented on #48
Why  I know that our https://github.com/ably/ably-common/blob/master/test-resources/test-app-setup.json used to have duplicates, see https://github.com/ably/ably-common/commit/873505632e6b21a778e02d19481b66eb67cfaf3a.  Are you sure the client lib is using the latest (if at all of course)?

[2015-11-11 19:02] mattheworiordan commented on #48
In response to your issue and analysis of the tests, this is very good, thanks.  I do question your allocation of `⚠️` in some cases though. For example, `testHistoryForwardPagination` does actually demonstrate that paging works, that the API for history requests is available, etc.  I realise it may not map 1-1 with an exact spec, however it is fine to complete the spreadsheet spec with references

[2015-11-11 19:20] ricardopereira commented on #48
@mattheworiordan Yes, you right. The ⚠️ in some points is dubious. Initially, I tried to map 1-1 but the tests wasn't created that way so I decided to check the aggregation of specs. It is not easy because in some of them I needed to check a lot of specs.

[2015-11-13 10:45] ricardopereira commented on #48
### Running the tests
[code]

After #51.

[2015-11-20 00:19] #21 closed

[2015-11-20 07:53] ricardopereira opened #78 "Travis: Integrate XCTool or Fastlane"
The build and test output is very difficult to read.
[XCTool](https://github.com/facebook/xctool) or [Fastlane](https://github.com/fastlane/fastlane) could help.

[2015-11-20 08:47] ricardopereira opened #79 "Travis: iOS 9 simulator"
**Temporary solution:**
Try forcing Travis to use the iOS 8 simulator because the new version has ATP.

### App Transport Security from [Apple](https://developer.apple.com/library/prerelease/ios/releasenotes/General/WhatsNewIniOS/Articles/iOS9.html)

Error:
[code]

[2015-11-20 08:48] ricardopereira commented on #79
For more detail: http://ste.vn/2015/06/10/configuring-app-transport-security-ios-9-osx-10-11/

[2015-11-22 11:48] #79 closed

[2015-11-25 08:11] #78 closed

[2015-11-26 10:47] ricardopereira opened #88 "Realtime: missing `connectionDetails` property"

[2015-11-30 10:06] ricardopereira opened #95 "Rest: message encoding"
I am implementing [RSL4a](http://docs.ably.io/client-lib-development-guide/features/#RSL4a).

Well, I dig into it and I found **two places** to setup the **encoding** (one for the payload and one for the client messages):
[code]
[code]

There are 4 payload encoders:
 - `ARTBase64PayloadEncoder`
 - `ARTUtf8PayloadEncoder`
 - `ARTJsonPayloadEncoder`
 - `ARTCipherPayloadEncoder`

and one `ARTPayloadE

[2015-11-30 10:10] ricardopereira commented on #95
@mattheworiordan I need some orientation with this. I don't know what makes sense or not.

[2015-11-30 11:02] ricardopereira commented on #95
Test with presence fixtures `jsonCommon["post_apps"]["channels"][0]["presence"]`

[code]

[2015-12-01 07:32] ricardopereira opened #97 "Rest: message decoding"
I have a **dictionary** and I publish it like:
[code]

and the lib sends it like (dictionary -> binary -> base64):
[code]

I was expecting a different payload, something like (dictionary -> json):
[code]

The same happens with `NSArray`.

**References**

[2015-12-02 18:22] mattheworiordan opened #102 "Spec links must link to this repo"
Please can you make sure all links in the spec sheet link to this repo as opposed to the forked versions of this repo

[2015-12-02 21:31] mattheworiordan opened #103 "Priority: Test suite passing"
@ricardopereira, every single PR submitted is passing, see https://github.com/ably/ably-ios/pulls

Before doing any more PRs, we need to ensure that:

- [x] All tests are passing in Travis CI
- [x] Test output is legible and easy to understand so that when tests fail, we can easily fix the problem

[2015-12-02 22:15] mattheworiordan commented on #95
@ricardopereira lets chat tomorrow, probably easier to talk this through.

[2015-12-02 22:18] mattheworiordan commented on #24
@ricardopereira is this done?

[2015-12-02 22:21] mattheworiordan opened #104 "Changelog + bump version"
We need to bump the version of the client library, it's currently 0.7.0.

We should release a v0.7.x, see Ruby's releases at https://github.com/ably/ably-ruby/releases for an example, and we can release a v0.8.x when we feel we are happy it's up to a basic level of the spec and we have documented all unsupported features in the README.

Changelog is referenced from the README, but is missing and s

[2015-12-02 22:23] mattheworiordan opened #105 "Readme examples updated + Swift support"
Swift is far more readable and increasingly popular.  All examples should therefore be duplicated, one complete set for Swift (first), and a second set for Objective-C.

Also, please see https://github.com/ably/ably-ruby/blob/master/README.md for the complete set of examples expected in README

[2015-12-02 22:23] #6 closed

[2015-12-02 22:23] #4 closed

[2015-12-02 22:23] mattheworiordan commented on #10
@ricardopereira can you confirm this is resolved?

[2015-12-02 22:24] mattheworiordan commented on #104
We also need to release a new POD when done

[2015-12-02 22:24] #11 closed

[2015-12-02 22:25] mattheworiordan opened #106 "Review the known limitations"
Please add major known limitations to the README now so that anyone using it is aware.

As we work through features, we can remove these limitations

[2015-12-02 22:45] mattheworiordan opened #107 "0.8.x spec finalisation"
We have a few minor final changes to the spec to resolve some unaddressed points and reduce ambiguity in the spec.

See https://docs.google.com/spreadsheets/d/1bG_SEVlCi3blQBveGtsncxFGD4ArCtS-JCq6iLW3lGw/edit#gid=1243782805&vpid=B4 for the list of changes, which includes references to all spec items that have changed.

We must go through the changes and ensure all items in the unified spec are cov

[2015-12-03 07:01] ricardopereira commented on #103
@mattheworiordan You mean _is not passing_, right?
#85 has some fixes and is an important PR to verify if it is passing... well, but I notice right now that it is not passing. I will look at it.

[2015-12-03 09:57] mattheworiordan commented on #103
Yes meant not passing, we need to have a test base that passes every time before we keep adding more tests

[2015-12-03 10:37] ricardopereira commented on #103
@mattheworiordan Finally! One greeny 💚 https://travis-ci.org/ably/ably-ios/builds/94581801

[2015-12-03 10:45] ricardopereira commented on #103
@mattheworiordan It seems like, sometimes in a random test, it stops with an error: `Invalid connection: com.apple.coresymbolicationd`. I have a folder with that name on my HD: `/System/Library/Caches/com.apple.coresymbolicationd` Something related with cache.

[2015-12-03 11:15] mattheworiordan commented on #103
Ok, well good luck fixing that ;)

[2015-12-30 17:27] ricardopereira opened #108 "Realtime: queued messages not handled like it is supposed to be"
https://github.com/ably/ably-ios/commit/4a1bd669b9a579e91ae0c7534633f61f60f68e8d#commitcomment-15187978

[2015-12-30 17:29] ricardopereira opened #109 "Realtime: check test coverage for Queued Messages"

[2015-12-30 17:29] ricardopereira opened #110 "Realtime: check test coverage for Connection State Transition"

[2015-12-30 17:40] ricardopereira opened #111 "Realtime: add `dispose` method"
Method to explicitly dispose all resources

 - [ ] Update tests

[2015-12-30 17:43] ricardopereira opened #112 "Tests: use `defer` statement to close the connection"
Swift v2 only

[2015-12-30 19:37] ricardopereira opened #113 "Stats: `decodeStats` should use _nonnull_ instances"
Reference: https://github.com/ably/ably-ios/commit/f5bd8757f655a93ea064418612ebd5391a6e4921

[2015-12-30 19:39] ricardopereira commented on #113
https://github.com/ably/ably-ios/commit/f5bd8757f655a93ea064418612ebd5391a6e4921

[2015-12-31 08:46] ricardopereira opened #114 "Auth: store TokenParams for subsequent authorisations"
`ARTAuth` does not store the AuthOptions/TokenParams for subsequent authorisations.

[2015-12-31 08:51] ricardopereira opened #115 "Auth: buffer of 15s for token expiry not implemented"
**Not implemented:**
_Please note that a buffer of 15s for token expiry is recommended to avoid race conditions where the token is valid at the time of the request, but invalid when it reaches the server. Therefore, we recommend that a token is considered expired 15s before the time field expires._

[2015-12-31 09:48] mattheworiordan opened #116 "Stats: Stats object properties are never nullable"
See https://github.com/ably/ably-ios/commit/f5bd8757f655a93ea064418612ebd5391a6e4921#commitcomment-15210779

[2015-12-31 11:27] ricardopereira commented on #116
#113

[2015-12-31 13:20] mattheworiordan commented on #116
Ah, didn't realise there was an issue, thanks.

[2015-12-31 13:20] #116 closed

[2015-12-31 15:38] ricardopereira opened #117 "Auth: request a token without an API key, authCallback or authUrl"
The spec is not implemented yet.
IMO the error should be different:
[code]

It is not obvious that the client was initialised with a token/tokenDetails and that is why a new token was not retrieved.

[2016-01-05 11:49] ricardopereira opened #118 "Realtime.connection: should store `connectionKey` when the client receives a CONNECTED message"

[2016-01-05 12:20] #113 closed

[2016-01-05 13:38] #48 closed

[2016-01-05 13:40] ricardopereira commented on #24
Yes

[2016-01-05 13:40] #24 closed

[2016-01-05 16:08] ricardopereira opened #120 "Tests: better naming for MockTransport & MockHTTPExecutor"
- [x] `TestProxyTransport`
 - [x] `TestProxyHTTPExecutor`

[2016-01-06 18:35] ricardopereira opened #121 "Channel: consistent `publish` methods between other platform clients"
**Current publish methods**
[code]

**Should be something like**
[code]

I am assuming renaming `ARTErrorCallback` to `ARTPublishCallback`. `ARTErrorCallback` feels like it is a callback when something fails and it is not.

[2016-01-06 21:03] mattheworiordan commented on #97
Yes, agreed, this should be JSON encoded as opposed to binary encoded.

[2016-01-06 21:07] mattheworiordan commented on #121
Agreed, renamed to `ARTPublishCallback`
I also would prefer to be consistent and use the method `publish`.  However, whilst I did not suggest this approach, I thought that Objective-C recommended not overloading methods and used this approach, is this not the case? @tcard thoughts?

[2016-01-06 21:31] ricardopereira commented on #97
@mattheworiordan Fixed and test done 16448e5

[2016-01-06 21:31] ricardopereira commented on #121
@mattheworiordan Well, it is a good practice but with Swift it might be better.

The result with the change:

**Objective-C**
[code]

**Swift**
[code]

[2016-01-06 22:26] tcard commented on #121
I'm not sure what is our "policy" about preferring Ably conventions vs. language conventions. I think we favor the former, right? For example, I've seen that the Go library takes callbacks for async operations, which is really not Go-y. That favors uniformity on documentation I guess, so you can apply doc resources written for one language to one trivially, but it makes it uglier and maybe more di

[2016-01-06 22:33] tcard commented on #121
OK, I've checked and I was wrong about Go taking callbacks. It's also wrong in the front page example, where I saw it:

<img width="376" alt="captura de pantalla 2016-01-06 a les 23 30 29" src="https://cloud.githubusercontent.com/assets/727422/12156836/abb4c52a-b4cd-11e5-9333-e3033d67ce01.png">

More reason to stay consistent with language conventions then.

[2016-01-06 22:44] mattheworiordan commented on #121
Yup, we use channels normally.

Our policy is to where sensible keep as consistent as possible with the API, however, we do use idiomatic forms for every language where it feels "wrong" to use our more generic API.  So there is no right or wrong answer, however, if overloading in Objective-C is not wrong nor bad, but perhaps just not typical, then I would personally opt for the overloaded approach

[2016-01-06 22:47] mattheworiordan commented on #97
Great, is that part of a PR?

[2016-01-06 23:01] ricardopereira commented on #121
There are strict conventions to follow for some method names: accessor method names & object constructors method names. But anything else is just fine... Apple just want to sell the _expressivity of Objective-C_.

By the rules it should be something like:
[code]

So, I would say it is not normal but it is ok. We just need to take in mind to create unique methods within a class. The translation of

[2016-01-06 23:05] ricardopereira commented on #97
Yes #96

[2016-01-06 23:31] mattheworiordan commented on #121
Ok, well if it's normal but OK I personally would prefer to remain closer to our intended API, thanks @ricardopereira

[2016-01-06 23:52] tcard commented on #121
Yeah, I guess it's not that bad.

[2016-01-07 15:34] ricardopereira commented on #97
I opened a PR: fix #122

[2016-01-07 20:32] ricardopereira commented on #114
@mattheworiordan About storing the `TokenParams`, should I store the `timestamp` field? As far as I know the `timestamp` should always have the time of the current request, right?

[2016-01-08 11:16] mattheworiordan commented on #114
@ricardopereira that is a very good point, the `timestamp` field should not be stored.  I believe every other client library blindly stores the complete hash.  I will need to add an issue to all client libraries to exclude the `timestamp` and the `nonce`

[2016-01-08 11:20] mattheworiordan commented on #114
Sorry, `nonce` is a TokenRequest field, ignore me.  However, @force@ attribute of `AuthOptions` should also not be stored as this would then mean every auth check would force a new authentication

[2016-01-08 11:22] ricardopereira commented on #114
@mattheworiordan Yes, I was questioning me as well about `AuthOptions.force`. So, I will implement it without storing `timestamp` and `force`. :+1:

[2016-01-08 11:23] mattheworiordan commented on #114
See https://github.com/ably/docs/commit/f768f0db76020d945cf34974ef7d14d36113f0cd

[2016-01-12 18:38] #97 closed

[2016-01-13 12:02] ricardopereira opened #126 "Core: `ARTErrorInfo` should be related with `NSError`"
**Problem:**
To many inconsistencies on how to encapsulate an error in the client.

**e.g.** two different callback types where one uses `NSError` and another uses `ARTErrorInfo`:
[code]

**Two solutions:**
 1. `ARTErrorInfo` should have `NSError` has base class
 2. Remove `ARTErrorInfo` and just use `NSError`

[`NSError`](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/Found

[2016-01-13 12:11] ricardopereira opened #127 "RealtimeChannel: duplicated `publish` method"
**Code completion:**

<img width="659" alt="screen shot 2016-01-12 at 19 58 00" src="https://cloud.githubusercontent.com/assets/3541185/12293767/a2987d22-b9ed-11e5-8d7f-8e320bdd1e74.png">

The `RestChannel` is the base class of the `RealtimeChannel`. `RestChannel` has 4 publish methods that we already discussed on #121.

**Problem:**
The `RealtimeChannel` does not override those methods and use th

[2016-01-13 18:31] mattheworiordan commented on #126
I am not sure, I prefer ARTErrorInfo inheriting from NSError, @tcard I need your view on this please

[2016-01-13 18:50] mattheworiordan commented on #127
Agreed that #121 should be fixed first

[2016-01-14 10:40] tcard commented on #126
I guess ARTErrorInfo could inherit from NSError.

But the real problem I see here is that, according to the docs, the REST library [uses anonymous objects with a defined structure as errors](http://localhost:4000/rest/statistics/#stats) while the Realtime API uses a named type [ErrorInfo](http://localhost:4000/realtime/types/#error-info) with just the same structure. I don't see why we shouldn't h

[2016-01-14 10:44] tcard commented on #126
To be clear, ARTErrorInfo could inherit NSError and use its userInfo property under the hood to store the message, but we'd get no gain for this except implementing Obj-C's standard error interface, which our users could find helpful in their own code. But it's a secondary thing.

[2016-01-14 10:46] tcard commented on #127
I think the deeper problem is, why is RealtimeChannel inheriting from RestChannel? You can't use a RealtimeChannel as a RestChannel. If anything, both should inherit from a BaseChannel or implement a Channel protocol.

I strongly think that this should be fixed.

[2016-01-14 11:39] mattheworiordan commented on #127
This is mostly because they share functionality such as `history`.  However, as you say, that could be part of the BaseChannel implementation instead.

[2016-01-14 11:40] mattheworiordan commented on #126
Agreed we should be consistent between REST and Realtime in regards to Error Types.  I like the idea of our own custom error type, we've erred towards that generally and mostly inherited from another compatible standard error type.

[2016-01-14 11:42] tcard commented on #127
To reuse code, it is a very well-established "principle" to use composition over inheritance. Anyway, to not get sucked into the rabbit hole, I would be happy with inheriting from a BaseChannel.

[2016-01-14 11:49] mattheworiordan commented on #127
Sure, we [do that in our Ably libraries](https://github.com/ably/ably-ruby/blob/master/lib/ably/realtime/channel.rb#L32-L36). If that's easy enough to do in Objective-C, sure, although I suspect we're largely using inheritance elsewhere

[2016-01-14 13:09] ricardopereira commented on #127
Yes, it is largely using inheritance, e.g.: `ARTBaseMessage`.
I liked the use composition to fix this more than the `ARTBaseChannel` but I can do it for now.

@tcard So you mean something like `ARTChannelHistory`?

[2016-01-14 16:18] tcard commented on #127
@ricardopereira I guess. Or even RealtimeChannel having a RestChannel property, because AFAIK RealtimeChannel just calls the REST API for history, right?

[2016-01-14 16:22] ricardopereira commented on #127
Yes, you right.

[2016-01-14 19:27] #114 closed

[2016-01-14 19:31] mattheworiordan opened #129 "AuthTokenParams should not contain a default timestamp"
See https://github.com/ably/ably-ios/blob/master/ably-ios/ARTTokenParams.m#L30

The problem with this is that if a use a default token params object in my code, and then later use to authorise or request a token, the timestamp may be out of date.  Instead, it is better that it is left `null`, and if `null` when authenticating the local current time should be used

[2016-01-14 21:35] ricardopereira opened #130 "ARTPayload: class review"
- Change `payload` property to `data`:
[code]

 - ARTPayload has an `encoding` property and `ARTBaseMessage` (that uses the ARTPayload class) has an `encoding` property as well. _Confusing_

[2016-01-15 12:17] ricardopereira opened #131 "ARTAuthTokenParams: `ttl` type is not consistent with spec"
The type of `ARTAuthTokenParams.ttl` is [NSTimeInterval](https://developer.apple.com/library/prerelease/ios/documentation/Cocoa/Reference/Foundation/Miscellaneous/Foundation_DataTypes/index.html#//apple_ref/c/tdef/NSTimeInterval):

I often use `uint64_t` type when I want to represent milliseconds. Some references: [Precise timing measurements](https://developer.apple.com/library/mac/qa/qa1398/_ind

[2016-01-15 13:02] mattheworiordan commented on #131
I don't think that in itself is wrong, especially if that is a standard type, but we do need to ensure then that all serialisation to and from JSON / MsgPack when communicating with Ably is converted correctly

[2016-01-15 13:30] tcard commented on #131
The reference says:

So there's no problem with precision here. ([TK2a](http://docs.ably.io/client-lib-development-guide/features/#TK2a) is kind of fuzzy about it, though, because it says that it is "in milliseconds" but then specifies the type as "long", so it doesn't define to what extent times smaller than a millisecond should be significative; anyway, the milliseconds requirement is met by NST

[2016-01-15 15:30] ricardopereira opened #132 "Realtime: implement ARTConnection & ARTConnectionDetails"
- [x] [Connection](http://docs.ably.io/client-lib-development-guide/features/#RTN1)
 - [x] [ConnectionStateChange](http://docs.ably.io/client-lib-development-guide/features/#TA1)
 - [x] [ConnectionDetails](http://docs.ably.io/client-lib-development-guide/features/#CD1)

[2016-01-15 15:36] ricardopereira opened #133 "Realtime: connection state changes is inconsistent with the API"
**Problem:**
`client.eventEmitter.on` should be `client.on`.

[EventEmitter mixin / interface](http://docs.ably.io/client-lib-development-guide/features/#RTE3)

[2016-01-15 15:38] ricardopereira opened #134 "RealtimeChannel: channel state changes is inconsistent with the API"
**Problem:**
`channel.subscribeToStateChanges` should be `channel.on`.

[2016-01-15 19:26] mattheworiordan commented on #133
I thin you mean it should be `client.on` no?

[2016-01-15 23:52] ricardopereira commented on #133
Updated. Ty

[2016-01-17 11:27] mattheworiordan commented on #132
@tcard you mentioned you have worked on implementing the correct types, will it address any of the above?

[2016-01-17 18:33] mattheworiordan commented on #130
Why is this not simply `message.data` like every other library?

[2016-01-17 23:52] tcard commented on #132
Not really, no. I basically took a look at Message and related types, but didn't get anything done beyond a few notes, I had been mainly reading stuff (Ably code, Ably docs and iOS docs).

[2016-01-18 10:38] ricardopereira commented on #130
Updated

[2016-01-19 00:13] #103 closed

[2016-01-19 00:21] ricardopereira commented on #10
Still broken. Removing all the current warnings from code will do it.

[2016-01-19 01:23] mattheworiordan commented on #10
What is involved in that?

[2016-01-19 09:14] ricardopereira commented on #10
The `pod spec lint` validates the `podspec` and warn you of any errors that occur. The warnings are the same from what we have on the code. There is a option `--allow-warnings` that validates even if warnings are present but I prefer to fix all the warnings.

[2016-01-19 09:34] mattheworiordan commented on #10
Yes, definitely

[2016-01-20 15:52] tcard opened #140 "Issues noticed while reviewing tests marked as done"
I've kept a list of notes about different. Some of them are just questions, some of them are are things to be done. I've put a checkbox along with each one to keep track of what's been addressed.

- [RSC1](http://docs.ably.io/client-lib-development-guide/features/#RSC1)
	- [x] Says "key, token", but iOS only takes key, and it's that way in the docs, but Ruby takes both and discriminates with regex

[2016-01-20 16:38] tcard opened #142 "RestClientStats tests are failing inconsistently."
From time to time, a RestClientStats test fails with an off-by-one error.

[code]

[2016-01-20 16:43] tcard opened #143 "Travis CI is stalling in some builds"
Travis builds sometimes fail with something like this:

[code]

This happens most often after running the Swift suite and before starting the Obj-C suite. But I've also seen it happen in the middle of the Swift suite, with a message like "main thread has stalled".

This happens inconsistently.

[2016-01-20 17:40] tcard commented on #142
Another failure that has nothing to do with the new code (#144):

	[17:08:50]: ▸ ablySpec.RestChannel
	[17:08:50]: ▸ presence__get__should_return_presence_fixture_data_UserstravisbuildablyablyiosablySpecRestChannelswift_206, failed - expected to eventually equal <6>, got <0>
	[17:08:50]: ▸ /Users/travis/build/ably/ably-ios/ablySpec/RestChannel.swift:216
	[17:08:50]: ▸ ```
	[17:08:50]: ▸
	[17:08:50

[2016-01-20 19:08] ricardopereira commented on #143
I will try to join both tests into one target to have only one execution. Right know it executes the Swift target and then the Objective-C target and in some way it gets stuck. It should resolve this issue.

I will also do some changes on the project because I want to use the bridging header to import the library code to the Swift test target like Apple suggest: [Importing Objective-C into Swift](

[2016-01-20 20:17] ricardopereira commented on #143
Could be related: https://openradar.appspot.com/24222858.

[2016-01-21 08:16] mattheworiordan commented on #140
Well spec says a token string or a key string, but does not specify a Token in the spec.  It's a convenience we have added, see https://github.com/ably/wiki/issues/47 for proposed change.

Simply means no one has looked at it yet so it's not definitely `no`, `wip`, or `yes` i.e. someone needs to update the sheet with a value.

So please mark the test as `wip` then so that we add suitable test cove

[2016-01-21 11:01] tcard commented on #140
@mattheworiordan

I'm not sure what you're saying. There's no Token type defined, I guess you're referring to TokenDetails? Anyway, the spec says a token string should be accepted by the AblyRest constructor, but that isn't implemented in iOS, and the docs just specify the constructors `AblyRest(keyStr)` and `AblyRest(options)`. So as I see it either the docs should be expanded to match the spec b

[2016-01-21 11:07] mattheworiordan commented on #140
As with previous note, we will address this more fully in 0.9, however I have updated a bit to reduce duplication.

Well please change it to no then!

As above, please change in the spreadsheet

I don't see any test code?

Simply check the WebSocket endpoint and see if the query param exists

Not sure where you mean it's realtime, but in general, once a client library is instanced, the options lik

[2016-01-21 11:11] mattheworiordan commented on #140
Yes, `TokenDetails`, sorry

Ah, you are referring to the client side documentation as opposed to the spec.  If you see issues in the client side docs please flag separately, however the client side docs are not your reference point as they are out of date, only the spec is.

Yes, but you could be passed a TokenRequest object from another library or even from a server that
serialises the object & d

[2016-01-21 11:20] tcard commented on #140
Also, @mattheworiordan , could you clarify this?

If I just stick to the spec, as you say, then I just should do what Ruby does. (Java is then outdated.) The spec says though that `Presence#subscribe` and `Presence#unsubscribe` can take "no arguments" when it at least takes a listener, right? Maybe that should be clarified. (Also, "listener" probably should be exactly defined.)

[2016-01-21 11:35] tcard commented on #140
(By the way, sorry to have bothered you with stuff which clearly is just "yep, should be fixed". I should have separated the items in a "needs clarification" section and a "ready to be done" section.)

[2016-01-21 11:47] tcard commented on #140
OK, I see that, the matter is that the test is just this: https://github.com/ably/ably-ios/blob/master/ablySpec/RealtimeClient.swift#L115 @ricardopereira can you clarify?

Yeah, nevermind that. The test is in fact done: https://github.com/ably/ably-ios/blob/5e4def84ad28da10840d521dbb65424c6b31d531/ably-iosTests/ARTRealtimePresenceTest.m#L1006 It was just not properly linked. I've fixed that.

[2016-01-21 12:00] ricardopereira commented on #140
`ARTRealtime` doesn't have a `realtimeHost` property. It was and it is always using `ARTDefault.realtimeHost`, so the current API doesn't allow you to set a custom `realtimeHost`. You can only change the environment.

[2016-01-26 07:31] ricardopereira commented on #143
I tried to join both test targets into one but  it isn't possible because there are too different. I will change the Travis file to use `scan --verbose` to see if we get anything from the log.

[2016-01-28 16:02] mattheworiordan commented on #134
This should follow the `EventEmitter` pattern, see http://docs.ably.io/client-lib-development-guide/features/#eventemitter

[2016-01-28 17:44] ricardopereira commented on #143
I found out my test suite was hanging when I was checking #171. I run the test suite with `scan` then only with `xcodebuild` and it hanged as well. I run it from Xcode and the test stopped because of an exception. So, I assume that there is something raising an exception on the CI as well. Something to look further.

[2016-02-02 00:30] tcard opened #181 "Test ably-common/test-resources/crypto-data-*.json."
Objective-C tests were removed #171. They were kind of hacky anyway and can't be trivially translated to the new design. They need to be redone in Swift.

[2016-02-02 14:22] tcard commented on #142
@ricardopereira Why did you close this? Last time I checked (when trying out #173) it was still happening.

[2016-02-02 14:22] ricardopereira opened #183 "RealtimeChannel: channel subscribe messages is inconsistent with the API"
[code]

[code]

[2016-02-02 14:23] ricardopereira commented on #142
I thought it was fixed.

[2016-02-03 06:48] ricardopereira commented on #143
There is a bug in `xcodebuild` which has been fixed in the latest release of XCode, 7.2.1 (which was released an hour ago). From the release notes

• Command line tool ‘xcodebuild test’ will no longer time out waiting for Simulator.app to launch

[2016-02-03 10:08] ricardopereira opened #189 "RealtimeChannel: attach is inconsistent with the API"
`attach` is returning an `ARTErrorInfo`.

Callback not implemented and the language permits:

[2016-02-03 10:10] ricardopereira commented on #130
@tcard Is this fixed, right? Can I close?

[2016-02-03 10:42] tcard commented on #130
Yep, fixed!

[2016-02-03 11:09] #130 closed

[2016-02-03 11:13] mattheworiordan commented on #189
Thanks, this is quite useful functionality so we should aim to implement this.

[2016-02-03 15:24] ricardopereira opened #191 "Realtime: close connection doesn't wait for the confirmation (CLOSED action)"
The connection automatically transitions to Closed state.

[2016-02-04 17:44] tcard commented on #95
This has changed completely with #171. `payloadEncoder` and children are gone, now we have a single `dataEncoder` and the only state it has is the cipher params. Should I close?

[2016-02-04 18:51] #95 closed

[2016-02-04 19:10] ricardopereira opened #195 "ARTDataDecoded: error decoding a NSDictionary or NSArray"
`RSL4d4` is showing:

[code]

[2016-02-09 14:18] #133 closed

[2016-02-13 14:58] ricardopereira commented on #10
#213 does some changes about this issue.
Now, the lint result is:

[code]
It is an expected error.
Basically, the tag `0.8.0` is missing.

[2016-02-14 11:04] mattheworiordan commented on #10
Ok, we should hopefully be in a position to do a 0.8.0 tag release I expect, once we are confident the API won't have expected breaking changes. @tcard do you think we are at this point, especially considering https://github.com/ably/docs/pull/87?

[2016-02-14 14:00] tcard commented on #10
@mattheworiordan Well, I don't know what is to be expected form a 0.8.0 tag release. It surely doesn't implement the 0.8 full spec (including ably/docs#87) yet. The API, on superficial terms, _should_ be totally compatible with the 0.8 spec after merging #204, so if you think that's enough...

[2016-02-14 14:24] mattheworiordan commented on #10
@tcard based on semver, I'd like to ensure that any updates from the point we hit `0.8.0` don't break the existing API i.e. if we add more overloaded methods, new methods to objects, add attributes, then that's not breaking.  But if we are aware of any breaking changes to the API in the current state, then I'd prefer we address that before a `0.8` release.  What is your view on that?

[2016-02-14 18:59] tcard commented on #10
@mattheworiordan Semantic versioning API guarantees don't kick in before 1.0, so OK, we can make a "soft promise" about it at this point (after #204), I think.

[2016-02-15 14:29] #134 closed

[2016-02-15 16:49] tcard commented on #189
Fixed by #204.

[2016-02-15 16:49] #189 closed

[2016-02-15 16:50] tcard commented on #183
Fixed by 97f0b16.

[2016-02-15 16:50] #183 closed

[2016-02-15 16:50] tcard commented on #121
Fixed by 97f0b16.

[2016-02-15 19:43] tcard opened #218 "Subscribing without waiting for connection doesn't attach"
I am toying around with the library in a real iOS app. If you create a channel just after creating the realtime instance, it never attaches.

This doesn't work, and the channel seems stuck in the ATTACHING state:

[code]

This does work:

[code]

[2016-02-16 15:57] tcard opened #220 "subscribe should optionally take an additional error callback"

[2016-02-17 14:16] #181 closed

[2016-02-17 14:16] #195 closed

[2016-02-18 17:17] mattheworiordan commented on #10
I was not aware of that, our next release should then be `1.0` instead of `0.9`.  I will raise an issue

[2016-02-19 08:50] #132 closed

[2016-02-19 08:52] tcard commented on #191
Fixed in #225.

[2016-02-19 08:53] #191 closed

[2016-02-19 08:54] tcard commented on #127
Fixed by 97f0b16.

[2016-02-19 08:54] #127 closed

[2016-02-19 08:55] #121 closed

[2016-02-19 08:57] #88 closed

[2016-02-19 08:57] tcard commented on #105
Fixed at #204.

[2016-02-19 08:57] #105 closed

[2016-02-19 08:58] #112 closed

[2016-02-19 09:00] ricardopereira commented on #131
Fixed 1e330a7e

[2016-02-19 09:00] #131 closed

[2016-02-19 09:04] ricardopereira commented on #111
Fixed fb3c2e0

[2016-02-19 09:04] #111 closed

[2016-02-19 15:50] tcard commented on #218
I can't reproduce this. No idea why it wasn't working...

[2016-02-19 15:51] #218 closed

[2016-02-19 16:12] ricardopereira opened #234 "Channel#history: `query.untilAttach` feature"
[RTL10b](http://docs.ably.io/client-lib-development-guide/features/#RTL10b)

Java: https://github.com/ably/ably-java/pull/102

[2016-02-19 16:13] ricardopereira commented on #234
Test #233

[2016-02-22 11:16] #220 closed

[2016-02-24 17:58] #234 closed

[2016-02-24 20:43] #129 closed

[2016-02-25 10:24] mattheworiordan commented on #143
What is the status on this?

[2016-02-25 13:20] tcard commented on #143
No news. There are periods in which this happens less often. I still don't know how we could debug this, we would need to make Travis builds more explicit somehow, haven't looked into it though.

[2016-02-25 13:38] mattheworiordan commented on #143
@tcard @ricardopereira should we not raise an issue with Travis themselves to get their help?  I can't believe that their system doesn't work given how ubiquitous it is in the open source community.  Can one of you do that?

[2016-02-25 13:41] ricardopereira commented on #143
The `--verbose` from `scan` doesn't help. I can update the Xcode version and see if it fixes.

[2016-02-25 13:59] mattheworiordan commented on #143
Ok, and then lets just raise an issue with Travis, they are incentivised to make it work so will be able to help I am sure

[2016-02-26 23:41] mattheworiordan opened #264 "New Crypto spec"
Please see https://github.com/ably/docs/pull/89

We need to ensure this library complies with the changes described in the PR

[2016-02-29 19:25] #264 closed

[2016-03-01 00:03] ricardopereira commented on #143
bitrise-io/bitrise.io#5

[2016-03-01 15:13] mattheworiordan commented on #143
Are we saying that with the `releaseChannel` disabled and the Xcode upgrade this is now no longer an issue?

[2016-03-01 15:22] ricardopereira commented on #143
Yes, none stalled test at the moment.

[2016-03-01 20:36] ricardopereira commented on #143
Still happening 💤

[2016-03-02 10:27] ricardopereira commented on #143
With `xcodebuild -workspace ./ably.xcworkspace -list` we have different results:

My copy and @tcard:
[code]

CI:
[code]

If `xcodebuild` can't find the scheme then it's quite possible the test gets stopped. I will uniformize the project name and scheme to `Ably`.

[2016-03-02 18:08] ricardopereira commented on #143
@tcard @mattheworiordan I finally have an answer for this. I had a huge help from Bitrise for this one. So, the test suite sometimes "hangs" because the `xcodebuild`, for some reason, doesn’t print the output. Travis checks if there’s any activity on `stdout` and if not then this can happen: _"No output has been received in the last 10m0s, this potentially indicates a stalled build or something wr

[2016-03-02 23:19] mattheworiordan commented on #143
Sounds encouraging... keep us posted

[2016-03-03 15:42] tcard opened #271 "RealtimePresence.get shouldn't wrap RestPresence.get."
It should return a `NSArray<PresenceMessage *> *` from the PresenceMap instead.

[2016-03-04 11:10] mattheworiordan commented on #271
@tcard as this is a known API incompatibility, I've added to the spreadsheet

[2016-03-04 11:10] mattheworiordan commented on #271
I meant @ricardopereira :)

[2016-03-07 21:46] ricardopereira opened #283 "List of tests that are intermitently failing"
https://docs.google.com/spreadsheets/d/1VmziymQT00hDuGZunqF3c5aXrsXacPZNbr5jL5-exnw/edit?usp=sharing

[2016-03-08 14:10] ricardopereira opened #285 "Realtime.Presence.enterClient doesn't implicitly attaches the channel"

[2016-03-08 15:54] #285 closed

[2016-03-10 15:26] ricardopereira opened #290 "Update `podspec` when CocoaPods v1.0 is released in production"
CocoaPods 1.0 Migration Guide: http://blog.cocoapods.org/CocoaPods-1.0/

[2016-03-10 15:26] ricardopereira commented on #290
CocoaPods/CocoaPods#5006

[2016-03-10 15:30] stannedelchev opened #291 "Unable to connect using token auth"
I'm trying to connect using token auth ([here's the code](https://github.com/ably/demo-mobile-ios/blob/e38c5e85f8ef99c691d00cbcbc31bb33bd71f4a2/demo-ios/ChatViewController.swift#L21)), but I'm getting this error:

    websocket did receive error Error Domain=SwiftWebSocket.WebSocketError Code=8 "(null)"

If I use a key in ARTClientOptions' constructor, everything works fine.

Here's the log
[code]

[2016-03-10 15:33] ricardopereira commented on #291
🤔 `accessToken` seems to be empty.

[2016-03-10 15:37] ricardopereira commented on #291
Just for the record: did `curl https://www.ably.io/ably-auth/token-request/demos?clientId=test&ttl=3600.000000&capability=%7B%22*%22:%5B%22*%22%5D%7D&timestamp=1457623300.980676` and the answer is:

[code]

[2016-03-10 15:44] ricardopereira commented on #291
@stannedelchev Are you using `https://www.ably.io/ably-auth/token-request/demos` in other libs? The json response doesn't has a token.

[2016-03-10 15:48] mattheworiordan commented on #291
@stannedelchev @ricardopereira this looks like a website bug, I will get that fixed and pushed out in the next few minutes, surprised no one else has spotted that, weird

[2016-03-10 15:48] stannedelchev commented on #291
Yes, both in the Cordova and the Android demos.

[2016-03-10 16:02] ricardopereira commented on #291
@mattheworiordan @stannedelchev Wait... I got it.

The iOS doesn't check if the response is a valid `TokenRequest`.

[2016-03-10 16:06] ricardopereira opened #292 "Auth: `authUrl` can return a TokenRequest or the token itself"
[RSA8c](http://docs.ably.io/client-lib-development-guide/features/#RSA8c)

[2016-03-10 18:59] ricardopereira opened #294 "Update installation guide when Ably 0.8 podspec is live"
- [x] https://github.com/ably/docs/search?utf8=%E2%9C%93&q=pod
 - [x] https://github.com/ably/ably-ios/blob/master/README.md

[2016-03-11 10:55] #143 closed

[2016-03-11 10:57] ricardopereira commented on #143
Currently the test suite, in normal conditions, takes around 22 min to finish. So, if we get a `Timeout (30 minutes) reached. Terminating "scan --scheme Ably --open_report false"` from Travis, it's a sign that the `sandbox` is broken.

[2016-03-14 09:52] ricardopereira opened #298 "Quick Documentation: add headerdoc comments"
<img width="593" alt="screen shot 2016-03-14 at 09 49 39" src="https://cloud.githubusercontent.com/assets/3541185/13740713/19979b90-e9ca-11e5-9e17-ea5143999a54.png">

┆Issue is synchronized with this [Jira Story](https://ably.atlassian.net/browse/SDK-369) by [Unito](https://www.unito.io)

[2016-03-17 13:03] ricardopereira opened #304 "Update README and docs examples to conform commit 897ce0f"
897ce0f - Replace NSError with ARTErrorInfo from RealtimePresence …

[2016-03-17 13:04] ricardopereira opened #305 "Complete RSC11: missing host change feature"
https://github.com/ably/ably-ios/blob/a6b92e73d60d9b09cc310fec379aead909cffbe9/Spec/RestClient.swift#L151

[2016-03-17 13:55] #104 closed

[2016-03-17 13:58] ricardopereira commented on #36
https://github.com/ably/ably-ios/blob/2398b9580d6aaef45ca91c01a99160cf09bbd4d9/Source/ARTConnection.h#L19

[2016-03-17 13:58] #36 closed

[2016-03-17 14:00] ricardopereira commented on #20
Currently it uses the ARTEventEmitter: https://github.com/ably/ably-ios/blob/2398b9580d6aaef45ca91c01a99160cf09bbd4d9/Source/ARTEventEmitter.h#L22

[2016-03-17 14:00] #20 closed

[2016-03-17 14:01] #102 closed

[2016-03-17 14:01] #106 closed

[2016-03-17 14:06] ricardopereira commented on #110
Done https://github.com/ably/ably-ios/blob/9024e4780d5023846be824f303e58f296047385d/Spec/RealtimeClientConnection.swift#L176

[2016-03-17 14:06] #110 closed

[2016-03-17 15:05] ricardopereira opened #306 "Presence: remaining query parameters not implemented"
Implement remaining query parameters on Rest and Realtime:
 - [x] `clientId`
 - [x] `connectionId`.

[2016-03-17 15:06] ricardopereira commented on #306
Reference: https://github.com/ably/ably-ios/pull/299/files#r56364640

[2016-03-17 15:47] mattheworiordan commented on #10
@ricardopereira we have decided that given the fix for
https://github.com/CocoaPods/trunk.cocoapods.org/issues/172#issuecomment-197915929 could take a long time, we're going to publish as `AblyRealtime`.  Please update the Pod for master, tell me when done, and I will push this to Cocoapods.

[2016-03-18 16:39] #271 closed

[2016-03-18 18:45] mattheworiordan commented on #10
FYI, I published it successfully:

[code]

However, oddly it seems that Cocoapods is having an issue now, see https://cocoapods.org/?q=Ably, the old Ably module is now showing and AblyRealtime is missing, then weirdly going to https://cocoapods.org/pods/ably gives a 500, yet going to https://cocoapods.org/pods/AblyRealtime redirects to https://www.ably.io.  WTF is going on?

[2016-03-18 18:49] mattheworiordan commented on #294
I believe this is done, see https://github.com/ably/docs/commit/5ca856c08532da90f301cdc7d6f75c9a7ade7b30.

@ricardopereira @tcard please confirm and close this if so

[2016-03-18 19:01] ricardopereira commented on #10
What the mess!
Well, _AblyRealtime_ is available https://github.com/CocoaPods/Specs/blob/master/Specs/AblyRealtime/0.8.0-beta.3/AblyRealtime.podspec.json and I try it with:

[code]

and it works.

[2016-03-18 19:07] orta commented on #10
The old one is showing because I classed it as un-deleted for you, I've un-done that, next time the search is re-index'd it should be removed.

[2016-03-18 19:14] mattheworiordan commented on #10
Thanks @orta. I assume we'll follow the issue progress until you guys have addressed the Github issue so that we can publish it as Ably?  Thanks again.

[2016-03-18 19:46] #304 closed

[2016-03-22 08:51] ricardopereira opened #345 "Add support for Swift 2.2"
_Xcode 7.3 includes Swift 2.2 and SDKs for iOS 9.3..._

[2016-03-24 08:28] ricardopereira opened #352 "Presence: subscribe callback should provide an error"
[code]

[2016-04-05 11:06] ricardopereira commented on #345
This is important right now. The Xcode 7.3 is already on the AppStore. It won't be possible to use it if someone want to try out the latest client version. Swift syntax has changed but we can use different versions on the code. Swift 2.2 introduces a new compiler directive that makes cross-version compatibility. It is a compile time feature:

[code]

[2016-04-05 21:44] tcard commented on #345
Sorry @ricardopereira, are you saying that the library right now doesn't work with Swift 2.2?

[2016-04-05 21:50] ricardopereira commented on #345
Yes because we are using the SwiftWebSocket. I think we only need to update the dependency because CocoaPods will only install the dependency and select the ObjC code of the client. We can update the `Spec` to Swift 2.2 later.

[2016-04-05 21:50] ricardopereira commented on #345
I'm downloading the Xcode 7.3 and I will test it.

[2016-04-05 23:16] #126 closed

[2016-04-10 09:05] #345 closed

[2016-04-10 09:05] #107 closed

[2016-04-10 09:20] #306 closed

[2016-04-10 10:12] #120 closed

[2016-04-10 10:13] ricardopereira commented on #352
Fixed: https://github.com/ably/ably-ios/blob/d091396908e6be33dbd657cc15d9dd63dc9492de/Spec/RealtimeClientPresence.swift#L372

[2016-04-10 10:13] #352 closed

[2016-04-19 18:50] mattheworiordan commented on #290
@tcard @ricardopereira can one of you try and deploy the pod now as Ably?  See https://cocoapods.org/?q=Ably.  Note if this works, we then need to deprecate AblyRealtime and update the documentation, but let us be sure that the Ably pod works first.  Also, prob time for a version bump?

[2016-04-19 18:50] mattheworiordan commented on #290
Also, see https://github.com/CocoaPods/trunk.cocoapods.org/issues/172#issuecomment-204812526

[2016-04-20 07:53] #294 closed

[2016-04-22 12:28] ricardopereira opened #424 "Sometimes test suite fails with: "Test target AblyTests encountered an error""
😒

[code]

[2016-05-16 03:16] levey opened #449 "Have new CocoaPods version with SocketRocket?"
Latest version still with SwiftWebSocket after installation.

[2016-05-16 07:59] tcard commented on #449
Thanks for the heads up, @levey. Indeed, a new release was due. I've just released version 0.8.2.

[2016-05-16 07:59] #449 closed

[2016-05-17 07:02] levey opened #450 "Duplicated history"
There is an issue that, same history messages will exist in multiple pulling action.
For example:
1. client A is offline, publish 2 messages (messageA, messageB) in Dev Console.
2. client A connect to Ably, fetch history by history method of channel, got the message A and B.
3. disconnect and kill app.
4. open client A and connect to Ably, fetch history again, the message A and B will still exist

[2016-05-17 09:48] tcard commented on #450
Hi, @levey. This doesn't represent an error —it's how it's designed to work. History is persistent ([for some time](https://support.ably.io/support/solutions/articles/3000030059-how-long-are-messages-stored-for)), and currently Ably doesn't provide a way to "consume" messages the way you want.

You can simulate that behavior by keeping a "last read" timestamp persisted in your app every time you p

[2016-05-17 09:48] #450 closed

[2016-05-17 10:15] mattheworiordan commented on #450
Hi @levey, just to confirm what @tcard has said, we're a pub/sub service.  This means that we can have any number of publishers decoupled from any number of subscribers.  As such, it is by design that any number of users who subscribe or request history, will always receive all messages.  See https://en.wikipedia.org/wiki/Publish%E2%80%93subscribe_pattern for more info.

[2016-05-20 06:36] stannedelchev opened #451 "Malformed message; no clientId in message or inferred from connection"
After updating to the v0.8.2 via CocoaPods, I'm getting a `Malformed message; no clientId in message or inferred from connection` error in the callback of [presence.enter(nil)](https://github.com/ably/demo-mobile-ios/blob/6627fd95670b5f393041b04dd9123cebece3243c/demo-ios/ChatModel.swift#L88).

Here's the log:
[code]

[2016-05-20 07:24] stannedelchev commented on #291
This seems to be fixed, closing.

[2016-05-20 07:24] #291 closed

[2016-05-24 09:10] tcard commented on #451
@stannedelchev Are you setting a client ID somewhere? I'm probably missing something but I can't find anywhere setting [this](https://github.com/ably/demo-mobile-ios/blob/df2a43d5600da947dba5d0dd225f975890de8bcd/demo-ios/ChatViewController.swift#L17) to a value.

[2016-05-24 13:14] stannedelchev commented on #451
@tcard Yup, it's set [on segueing from the previous viewcontroller](https://github.com/ably/demo-mobile-ios/blob/master/demo-ios/EditNameViewController.swift#L34).

[2016-05-24 16:44] tcard commented on #451
@mattheworiordan I'm not sure whether this is expected or not.

The spec says "If the client library is authenticated but unidentified (i.e. clientId is a wildcard '\*' or client is anonymous), the enter request results in an error immediately" ([RTP8f](http://docs.ably.io/client-lib-development-guide/features/#RTP8f)). I'm not sure "clientId is a wildcard '\*'" is true if there's a non-wildcard `

[2016-05-24 18:00] paddybyers commented on #451
The connection has a wildcard `clientId`, as confirmed by the `CONNECTED` response, so all presence messages must then contain a specific `clientId` within the message. We don't allow the `clientId` associated with the connection to change once the connection is established.

So setting `ClientOptions.clientId` post-connection has to be seen as a way of setting a default identity for operations, i

[2016-05-24 18:34] tcard commented on #451
@paddybyers

Right, my question is whether the library should set this specific clientId from the clientId passed at ClientOptions for presence messages.

We don't allow this to happen, anyway. The ClientOptions passed to Realtime is copied and encapsulated and you can't change it from the outside (and the inside doesn't change it, of course).

Don't we already allow that when publishing messages?

[2016-05-24 20:31] mattheworiordan commented on #451
No, I don't see why that is ever necessary.  My understanding is that:

* `ClientOptions.clientId` can only be specified when the library is being instanced.  It should be immutable later, if the language permits, so changing it later should never have an effect.  If the `ConnectionDetails.clientId` returned is incompatible with the `clientId` configured in the library, then it should result in an

[2016-05-24 22:23] tcard commented on #451
@mattheworiordan Well, the clientId _is_ specified, but at the `ClientOptions` instead, not in the argument to `enterClient`, and thus it can't be implicit in the connection. The situation here is:

* The dev sets `ClientOptions.clientId` to `foo`.
* The dev sets an auth URL that returns a `TokenDetails` with `clientId = "*"`
* The dev does `presence.enter`, which fails. The connection is _not_ co

[2016-05-24 22:38] mattheworiordan commented on #451
I would expect step 2 fails.

Looking at http://docs.ably.io/client-lib-development-guide/features/#RSA15b, I think it needs to be changed to:

[code]

Then I think we should change http://docs.ably.io/client-lib-development-guide/features/#RSA15c to:

[code]

Oddly this relates to a separate issue https://github.com/ably/docs/issues/117#issuecomment-221221427.

@paddybyers WDYT.  I feel that prov

[2016-05-24 22:55] paddybyers commented on #451
Yes, this was my point: `clientId` as a connection param is there so that the connection can be associated with a specific `clientId`, even if it cannot be inferred from the credentials.

[2016-05-25 12:07] tcard commented on #451
Step 2 failing sounds good to me too.

@stannedelchev Thanks for spotting this! We're forbidding using wildcard tokens when `clientId` is set. So [this line](https://github.com/ably/demo-mobile-ios/blob/df2a43d5600da947dba5d0dd225f975890de8bcd/demo-ios/ChatModel.swift#L28) won't be correct. Use `presence.enterClient(self.clientId, data: nil)`in [this line](https://github.com/ably/demo-mobile-ios/b

[2016-05-25 12:08] #451 closed

[2016-06-02 17:31] mattheworiordan opened #452 "Add reauth capability"
See https://github.com/ably/docs/pull/113 for the spec, and https://github.com/ably/ably-js/pull/269 for the JS implementation.  We need to implement this in this library soon.

[2016-07-13 08:19] mattheworiordan opened #454 "Important: Ensure DETACHED or DISCONNECTED with error is non-fatal"
See a bug discovered today at https://github.com/ably/ably-js/issues/312 for ably-js.

This is quite problematic because if we explicitly have to DETACH a channel (due to a timeout for example), then the client now will move the channel into the failed state.  This means most customers will never re-attach that channel automatically, see https://www.ably.io/documentation/realtime/connection#handli

[2016-07-15 14:31] #454 closed

[2016-08-05 08:59] mattheworiordan opened #460 "Cocoa Mac development support"
When trying to use this library for Mac development, the following error is shown:

[code]

We need to ensure the library is compatible with OSX

[2016-08-05 09:18] hemezh commented on #460
Thanks @mattheworiordan for the quick response.

[2016-08-05 18:01] mattheworiordan opened #461 "Add example for typical use of authCallback in README"

[2016-08-12 14:14] mattheworiordan opened #462 "Incompatible clientId should cause a connection to fail or set the clientId on the socket"
I don't believe http://docs.ably.io/client-lib-development-guide/features/#RSA15c and http://docs.ably.io/client-lib-development-guide/features/#RTN2d are implemented correctly.

See https://github.com/ably/demo-mobile-ios/issues/5.

I would have expected either:

* the connection to move to the failed state (probably not given `clientId` string is compatible with a wildcard)
* `clientId` to be se

[2016-08-12 15:14] #462 closed

[2016-08-12 15:33] EvgenyKarkan opened #463 "SocketRocket/SRWebSocket.h file not found"
Hello team.
I'm trying to execute unit tests from `AblySpec` target, but while building it - I'm getting an error:
`SocketRocket/SRWebSocket.h file not found` in `ARTWebSocketTransport+Private.h` header file.

My environment:
`OS X EL Capitan 10.11.3 (15D21)`
`Xcode 7.3 (7D175)`
`CocoaPods 1.0.1`
`master` branch

How can I fix that?

[2016-08-12 15:46] tcard commented on #463
I can't reproduce this, although I've seen this failing too in Travis since [this build](https://travis-ci.org/ably/ably-ios/builds/144409949).

Could you tell me:

1. The contents of the folder `./Pods/SocketRocket/SocketRocket` inside your copy of the repo?
2. Whether changing `<...>` to `"..."` [in this line](https://github.com/ably/ably-ios/blob/master/Source/ARTWebSocketTransport+Private.h#L1

[2016-08-12 15:59] EvgenyKarkan commented on #463
Sure,
- folder contains 3 source files (`SocketRocket.h, SRWebSocket.h, SRWebSocket.m`)
- replacing `<>` with `""` - unfortunately, did not help.

I've attached link with the screenshot from Finder and Xcode.
https://monosnap.com/file/sqjcz6JUKVVvU2C5QJ8sm9MbXwCciq

[2016-08-12 17:30] tcard commented on #463
I've just pushed to master a commit that should fix this. In short, things were working with my outdated version of CocoaPods but not with the latest ones. I've changed a bunch of random things I've found in the Internet about this issue and now it works. Could you confirm?

[2016-08-12 17:59] EvgenyKarkan commented on #463
Thanks @tcard, everything is ok now, so confirmed & closed.

[2016-08-12 17:59] #463 closed

[2016-08-25 16:47] ricardopereira opened #469 "Test Suite issues"
Currently there are tests that doesn't pass even running them individually:

[code]

---

It is frustrating when failing tests start to pass after you didn’t change anything, only tried debugging it for a few minutes.

I would like to ask if in a different client, e.g. JS or Ruby, if you run the test suite a couple of times one after another, the result is consistent? Always a green?

---
### Prob

[2016-08-26 13:25] SimonWoolf opened #471 "'Socket not connected' incorrectly leads to FAILED connection state rather than DISCONNECTED"
From https://app.intercom.io/a/apps/ua39m1ld/inbox/all/conversations/5776825348, happens if they disconnect from the internet.
[code]

[2016-08-26 16:13] #471 closed

[2016-08-26 17:59] tcard commented on #471
Turns out I already fixed in #444 and git just happily merged the two identical-except-for-line-order fixes. I reverted #472.

[2016-08-29 19:06] EvgenyKarkan commented on #461
I'm not sure @mattheworiordan could I close the issue or not (in terms of subordination ethics), so FYI - PR was reviewed, approved and merged.

[2016-08-30 15:22] ricardopereira commented on #140
I will close this when everything is merged.

[2016-08-30 22:45] #117 closed

[2016-08-30 22:48] #292 closed

[2016-08-30 22:48] #305 closed

[2016-08-30 22:51] ricardopereira commented on #290
It's already [done](https://github.com/ably/ably-ios/commit/c68bcb60e9c05210b410259934585e7d971c9232#diff-9c8b42a779d2522373a1a6a9e3846dafR22).
Can we close this?

[2016-08-30 22:54] ricardopereira commented on #27
This doesn't make sense anymore.

[2016-08-30 22:54] #27 closed

[2016-08-30 23:02] ricardopereira commented on #118
Already [implemented](https://github.com/ably/ably-ios/blob/938e1c4bf885a1dd5b7adb02d1365d9cb36e7fff/Spec/RealtimeClientConnection.swift#L2031).

[2016-08-30 23:02] #118 closed

[2016-08-31 08:42] mattheworiordan commented on #290
I think so. @tcard you happy?

[2016-08-31 09:19] tcard commented on #290
Yes.

[2016-08-31 09:19] #290 closed

[2016-08-31 09:25] ricardopereira commented on #10
What about this one? Will `AblyRealtime` pod be renamed to `Ably`?

[2016-08-31 09:32] ricardopereira commented on #469
Seems that legacy tests also receives a `account blocked (connection limits exceeded)` error from sandbox. Need to be fixed.

[code]

[2016-08-31 10:58] EvgenyKarkan opened #485 "Channel still has FAILED state after .attach() call."
As discussed in `#client-libraries` with @ricardopereira
RTL4g spec item implementation is wrong.

[2016-09-01 12:39] mattheworiordan commented on #469
Any update on this?

[2016-09-01 12:41] mattheworiordan commented on #10
@ricardopereira if we can yes, can you try?

[2016-09-01 14:38] mattheworiordan commented on #461
Sure, thanks @EvgenyKarkan

[2016-09-01 14:38] #461 closed

[2016-09-02 17:34] ricardopereira commented on #10
@mattheworiordan I tried again and the usual error occurs: `[!] {"name"=>["is already taken"]}`.
@orta Could you please take a look?

---

branch: `test-rename-ably-pod`
tag: `0.8.6`
log:

[code]

[2016-09-02 18:05] orta commented on #10
I've marked "Ably" as not deleted, if you can't push now it's because you don't have access via trunk for that email. 👍

[2016-09-02 19:02] ricardopereira commented on #10
@orta Unfortunately, I got the same error: `[!] {"name"=>["is already taken"]}`.

[2016-09-02 19:05] ricardopereira commented on #10
`pod trunk me` has `ably`

[code]

@orta Maybe is something related with the char case, could be? Is it possbile to rename it to capitalised?

[2016-09-02 19:26] orta commented on #10
Yeah looks like the case check is [on purpose](https://github.com/CocoaPods/trunk.cocoapods.org/blob/master/spec/functional/api/pods_controller_spec.rb#L124) - I can change the case in the db, but I'm not 100% sure of all the ramifications, though, as  I guess no-one is using the pod yet so it shouldn't break existing installations

[2016-09-02 19:28] orta commented on #10
done

[2016-09-02 19:42] ricardopereira commented on #10
Success 🙌
@orta thank you.

[2016-09-02 19:42] ricardopereira commented on #10
https://cocoapods.org/?q=Ably

[2016-09-02 19:42] #10 closed

[2016-09-03 10:16] mattheworiordan commented on #10
Thanks @orta, we all really appreciate your help :)

[2016-09-08 14:46] EvgenyKarkan opened #496 "Rename authorise API"
As discussed in #492.
Apply 0.9 change to `authorise` API, signature should be `authorize` instead of `authorise`.

[2016-09-20 17:06] ricardopereira commented on #469
Current failures where fixed with #505 and #506.
_Done closure's called multiple times_ fixed with 75d1815.

[2016-09-29 09:28] ricardopereira commented on #485
Fixed.

[2016-09-29 09:28] #485 closed

[2016-09-30 09:12] ricardopereira commented on #460
**For macOS compability, please have in mind:**
 - Reachability
 - Locale changes
 - Date and Time changes

[2016-10-12 12:04] ricardopereira commented on #452
RSA8e: #487
RSA9h: #494
RSA10j: #492
RSA10d: #493
RSA10k: #495
RSA10g: #494
RTC8: https://github.com/ably/ably-ios/commit/a157ad6d78fdcfd849844e4e7f3cb4b715c41be6#diff-b5d84fe9bce26902a7481c2ffec84fffR1907
TK2d: #508

[2016-10-12 12:04] #452 closed

[2016-10-12 12:05] ricardopereira commented on #424
Currently it doesn't occur.

[2016-10-12 12:05] #424 closed

[2016-10-12 12:06] #140 closed

[2016-10-12 12:09] ricardopereira opened #510 "AblyRealtime module renamed to Ably"
Initial work: #490
Release: https://github.com/ably/ably-ios/releases/tag/0.8.7
Test suite: https://travis-ci.org/ably/ably-ios/builds/167025717

**Tasks:**
- [x] Merge in all other PRs before this release so 0.8 is complete, ideally with Reauth but we can do that after
- [x] Create a new release from tag 0.8.7 after this has been merged.
- [x] Update README
- [x] Update CHANGELOG with important n

[2016-10-12 12:12] ricardopereira commented on #510
Tested pod `Ably` on older projects that I have:

[code]

[code]

It's working.

[2016-10-12 12:17] ricardopereira commented on #510
[code]

😒

[2016-10-12 12:21] ricardopereira commented on #510
Actually, it worked 😄

https://cocoapods.org/?q=Ably

![screen shot 2016-10-12 at 13 20 22](https://cloud.githubusercontent.com/assets/3541185/19309758/c4f37d64-907e-11e6-9a2e-8ff348c5058b.png)

[2016-10-12 12:24] ricardopereira commented on #510
@mattheworiordan Should I handle `Update all references in documentation` as well?
Is https://github.com/ably/docs the repo?

[2016-10-12 19:20] ricardopereira opened #511 "Environment option is "production""
If environment option is configured and is "production" then use the default hosts. Part of http://docs.ably.io/client-lib-development-guide/features/#RSC11.

[2016-10-12 19:23] tcard commented on #511
It's not "use the default hosts" but "don't prepend the environment (ie. `production-`) to the hosts", custom or not. `environment="sandbox",restHost="fake.ably.io"` should send requests to `sandbox-fake.ably.io`, while `environment="production",restHost="fake.ably.io"` should send them to `fake.ably.io`.

[2016-10-13 18:01] mattheworiordan commented on #460
@ricardopereira not something to look at now, but any idea how much work it may be to add Mac OS support?

[2016-10-14 07:34] ricardopereira commented on #460
Adding a new framework target for the other platform and fix incompatibilities should be enough. I would say 2 days of work.

[2016-10-17 09:30] #511 closed

[2016-10-18 11:11] mattheworiordan commented on #460
Ok, let's review once 0.9 is done

[2016-10-19 05:34] disabled opened #525 "Wrong message timestamp on 32-bit devices"
Hello,

We are using ably-php to send messages and ably-ios to receive them.
In this scenario, message timestamp on iOS is wrong (using either ARTRest or ARTRealtime), but only on 32-bit devices. On 64-bit devices everything is working fine.

Here is example:
[code]

[2016-10-20 19:32] mattheworiordan commented on #525
Hi @disabled.  Nice Github handle :)

@ricardopereira @tcard can you please advise on this issue?

[2016-10-22 03:13] #525 closed

[2016-10-22 03:17] tcard commented on #525
Hi @disabled! Thanks for the report. I've just pushed a fix to the repo. It will be included in the next release. In the meantime, you can point your Podfile (or however you're including the library) to the current master branch head.

Please tell us if this actually fixes your problem, and of any other problem you may encounter. Thanks in advance!

[2016-10-24 04:34] disabled commented on #525
Hi @tcard. Thanks, timestamp is working fine now!

[2016-11-11 18:38] aquigriffin opened #529 "Token Request 'ttl' should be in milliseconds"
Please represent 'ttl' property of ARTTokenRequest in milliseconds to maintain consistency with other client libraries.  For instance, our servers use the Ably-Java lib 0.8.5, to return a token request during the authCallback in the iOS client.  The java lib respects the 'ttl' as milliseconds, but the iOS client uses seconds.

[2016-11-11 18:41] aquigriffin opened #530 "Ably requests include incomplete header values."
Found requesting a token with a valid token_request, the network call made by the Ably SDK includes a header as follows:

X-Ably-Lib: ios-(null)

Please make sure the header does not include a null value.

[2016-11-11 18:47] mattheworiordan commented on #530
Thanks @aquigriffin, sounds like a new-ish issue as we only introduce version headers recently.  We'll get this fixed Monday.

[2016-11-11 18:48] mattheworiordan commented on #529
@aquigriffin we have this one scheduled to be fixed along with adding some new functionality to make the handling of `TokenRequest` or `TokenDetails` serialised JSON objects easier, see https://github.com/ably/docs/pull/193.

[2016-11-11 18:51] aquigriffin opened #531 "CFRunLoopPerformBlock never executes"
In ARTHttp.m, starting at line 175.  CFRunLoopRef fails to perform block if CurrentRunLoopRef ignores wakeup.  Reproduced with performing token request on application startup.

[2016-11-13 22:25] #530 closed

[2016-11-14 08:56] ricardopereira commented on #531
@aquigriffin Could you add a short runnable sample to reproduce this issue?

[2016-11-14 09:05] ricardopereira commented on #531
Even so, I prefer using GCD instead of run loops. It's much safer. No need to deal with run loop management and we can avoid issues like this.

[2016-11-15 01:19] aquigriffin commented on #531
@ricardopereira Here is an example of my ClientOptions authCallback:
 `clientOptions.authCallback = ^(ARTTokenParams *params, void(^callback)(id<ARTTokenDetailsCompatible>, NSError*)) {
//interaction is our network layer communicating with our backend for the token request
        [_interaction startTaskOnSuccess:^(OUPAblyTokenRequestResponseDTO *_Nullable responseDTO) {
            //NSLog(@"rece

[2016-11-15 10:07] ricardopereira commented on #531
@aquigriffin Thanks for the example. It makes sense what you said. The [API reference](https://developer.apple.com/reference/foundation/nsrunloop) makes this clear. It says that we  shouldn't call the methods of an NSRunLoop object running in a different thread.

I will have a look into this.

[2016-11-16 13:32] mattheworiordan opened #534 "PagiantedResult isLast and hasNext are methods, not attributes"
See https://github.com/ably/docs/issues/185

We should bundle this breaking change into 0.9

[2016-11-16 14:29] SimonWoolf opened #535 "0.9 spec: fromJson"
See https://github.com/ably/docs/pull/193

[2016-11-18 10:19] ricardopereira commented on #531
@aquigriffin Can you test it using `pod 'Ably', :git => 'https://github.com/ably/ably-ios.git', :branch => 'fix-531'`? Thanks.

[2016-11-18 14:16] ricardopereira commented on #531
Basically, if the problem is the `authCallback` isn't transition the error or the UI updates on the callback, then the #536 solves that problem. If not, then the problem is related with a race condition: the listener is not ready when the `authCallback` is called. Try to set the `autoConnect` to false just to verify if it works.

[code]

[2016-11-18 21:23] aquigriffin commented on #531
@ricardopereira I checked out fix-531 and tested connection with and without the auto-connect setting 'on'.  I found I was getting an exception EXC_BAD_ACCESS on

`if (*((int*)dispatch_get_specific((__bridge const void *)(ARTGCDMainQueueKey))) == 99)`

Reading the description of dispatch_get_specific(<key>) says:
 *@discussion
 * When called from a block executing on a queue, returns the context f

[2016-11-18 21:31] ricardopereira commented on #531
@aquigriffin Damn 😅 I forgot the NULL case. I'll fix it right away.

[2016-11-18 21:36] ricardopereira commented on #531
@aquigriffin Fixed. Try again please and don't forget the `pod update`.

[2016-11-22 16:02] mattheworiordan opened #538 "Connection resume does not fire channel detached"
@ricardopereira please can we write a test to confirm what happens to a channel when a connection resume fails.  What should happen is that all channels that were attached become detached, the state change is emitted along with an error. Please see http://docs.ably.io/client-lib-development-guide/versions/v0.8/features/#RTN15c3 for 0.8 spec.

A customer has reported the detached event not firing.

[2016-11-22 16:48] mattheworiordan commented on #538
@ricardopereira whilst reviewing the verbose logs, I can unfortunately see that the client library does not output the URL it is connecting to for new WS connections.  Can you please ensure all HTTP and WebSocket connections / requests output the complete URL with headers if appropriate when verbose logging is on?

[2016-11-22 17:51] mattheworiordan commented on #538
@ricardopereira unfortunately I also now suspect (but do not have proof as the logs are concatenated meaning I cannot prove this) that the resume following an auth token change is not working.  I suspect the resume arguments for the WS connection are not included.

Can you additionally write a test that uses a low value TTL for the token, attaches to a channel, then waits for the auth to complete

[2016-11-22 17:54] mattheworiordan commented on #538
FYI, in the connected message following auth, I see:

[code]

If the resume failed, we should have received an error with the connected message with an `80008` error code.  As you can see above, that did not happen.

So we need to check that:

* Even with the absence of an error, if the connection ID changes, then all channels should become detached (the error is only informational and not the rea

[2016-11-22 18:58] ricardopereira commented on #538
@mattheworiordan Sorry for the delay. There's already a test for [RTN15c3](https://github.com/ably/ably-ios/blob/bed0664d51f5df57260224ffcfcd57bfdce09d6d/Spec/RealtimeClientConnection.swift#L2035) but it's pending.

[2016-11-22 19:00] ricardopereira commented on #538
@mattheworiordan I run that test and it passes. I will implement the additional test.

[2016-11-22 19:06] aquigriffin commented on #531
@ricardopereira works fine, thanks for the quick response.

[2016-11-22 19:21] #529 closed

[2016-11-23 00:58] ricardopereira commented on #535
I think it's done: #533.

[2016-11-23 00:58] #531 closed

[2016-11-23 00:59] #496 closed

[2016-11-23 01:06] mattheworiordan commented on #535
Yes, this is done

[2016-11-23 01:06] #535 closed

[2016-11-23 13:35] ricardopereira opened #541 "Pending tests"
[code]

[2016-11-23 22:36] ricardopereira commented on #538
Please test using `pod 'Ably', :git => 'https://github.com/ably/ably-ios.git', :branch => 'fix-538'`. Hopefully it works with those fixes.

[2016-11-25 09:54] mattheworiordan commented on #541
Are you looking at these?

[2016-11-25 10:35] ricardopereira commented on #541
@mattheworiordan Yes, I am.

[2016-11-28 19:14] mattheworiordan commented on #538
This has been tested by the customer and works.  Thanks @ricardopereira

[2016-11-28 19:14] #538 closed

[2016-12-05 10:47] SimonWoolf opened #551 "0.9 spec: UPDATE event, replacing ERROR"
https://github.com/ably/docs/pull/208/files

New spec is designed to be more straightforward for typed languages to implement than the old, which ably-java never fully implemented anyway (e.g. all events emitted by the Connection now have the interface (with a ConnectionStateChange as the first arg), and likewise for Channel)

[2016-12-05 10:48] SimonWoolf opened #552 "0.9 spec: Extras field"
ably/docs#203

[2016-12-06 16:59] SimonWoolf opened #553 "Library crash bug reports"
Bug reports from a customer:
1. '*library crashes if you try to publish with a Dictionary instead of an NSDictionary. However, the library accepts "Any", so you would kind of assume that it can take anything*'
2. '*library crashed when I didn't convert an enum to its rawValue (I feel like this can be converted automatically, but I may be wrong). There was no error given back, nor a catchable excep

[2016-12-06 17:03] SimonWoolf opened #554 "Feedback from customer re private methods"
Feedback from a customer that: "*there are lots of undocumented functions (which ones can I safely use? Nothing is private.*". Matt mentioned they need to send messages to each other; customer replied that that "*has been solved with Objective-C using private headers, and it has been solved in Swift with "internal" and "fileprivate" attribute on functions/classes.*"

[2016-12-06 17:11] tcard commented on #554
We do keep separate public and private headers. I'm not sure how the customer get access to the private headers. From a fresh Xcode project and installing Ably normally I can only see the public API.

[2016-12-07 13:48] ricardopereira commented on #553
@SimonWoolf Which Swift version? v2.2, v2.3 or v3.0?

[2016-12-07 13:52] ricardopereira commented on #554
Yes, we keep it separated but maybe the customer is adding the lib manually. @SimonWoolf Can you confirm that is the case?

[2016-12-07 13:59] ricardopereira commented on #554
<img width="489" alt="screen shot 2016-12-07 at 13 56 10" src="https://cloud.githubusercontent.com/assets/3541185/20970328/f3e4509e-bc84-11e6-91c8-745439058ecb.png">

Showing only what's public.

[2016-12-07 21:16] danielrhodes commented on #553
Hi @ricardopereira, I was the one who had these issues. Using 3.0.

[2016-12-07 21:23] ricardopereira commented on #553
Thank you @danielrhodes. I will look into it and let you know when it's fixed.

[2016-12-07 21:34] danielrhodes commented on #553
Great. Let me know how I can help.

[2016-12-08 01:15] ricardopereira commented on #553
@danielrhodes

1. I tried to reproduce it like:

[code]

but no crash or error.
**Xcode Version 8.1 (8B62) (Swift 3.0)**

2. Which enum for example?

Maybe it's better if could you add a short runnable sample to reproduce those issues, please.

[2016-12-08 21:27] danielrhodes commented on #553
First of all, I was using `ARTRealtime`, it that makes a difference.

Let me get back to you on the `Dictionary` stuff. I think ultimately it was the enum that was causing issues.

The enum was something like this:

[code]

[2016-12-08 21:36] danielrhodes commented on #554
![screen shot 2016-12-08 at 13 31 55](https://cloud.githubusercontent.com/assets/120044/21028619/dd3ec736-bd4a-11e6-9928-72b9aaf2d318.png)

![screen shot 2016-12-08 at 13 35 48](https://cloud.githubusercontent.com/assets/120044/21028725/4be0806c-bd4b-11e6-814e-e95aebd02187.png)

I'm not sure if any of these are supposed to be private, but some of them don't seem to be listed on your documentation.

[2016-12-09 00:29] tcard commented on #554
@danielrhodes Thanks. All of those are correctly public. ARTRealtimeChannel is described [here](https://www.ably.io/documentation/realtime/channels-messages#properties) (make sure you select Swift at the top-right) and ARTRealtimeChannels isn't really in the documentation proper but it is in [our thorough API spec](http://docs.ably.io/client-lib-development-guide/features/#RSN1) that all our clien

[2016-12-09 11:47] tcard commented on #554
Closing as we're tracking this issue specifically somewhere else now.

[2016-12-09 11:47] #554 closed

[2016-12-12 19:23] ricardopereira commented on #553
@danielrhodes Which error occurs? Is it an **`uncaught exception 'NSInvalidArgumentException': must be NSString, NSData, NSArray or NSDictionary.`**?

How do you publish the message?
 - `publish(nil, data: MessageType.message.rawValue)`
 - `publish(nil, data: MessageType.message)`

@tcard Should we support any type while publishing a message (whether it is a class, enum, struct, or any other Swift

[2016-12-13 07:47] ricardopereira opened #555 "Should not use the global listener for internal purpose"
https://github.com/ably/ably-ios/pull/543#discussion-diff-90929703R347

[2016-12-13 07:50] ricardopereira opened #556 "ARTRealtimeChannel* to ARTChannelState*"

[2016-12-13 07:51] ricardopereira opened #557 "ART* should match IDL definition"
As agreed on the call, we will update the ART* classes to match the IDL. The ones we know need changing are below, but @ricardopereira please review all classes before submitting a PR for this issue:

* [ ] ARTRealtimeConnectionState -> ARTConnectionState
* [ ] ARTRealtimeConnectionEvent -> ARTConnectionEvent
* [ ] ARTRealtimeChannelState -> ARTChannelState
* [ ] ARTRealtimeChannelEvent -> ARTChan

[2016-12-13 09:55] mattheworiordan commented on #557
@ricardopereira @tcard further to the conversation at https://github.com/ably/ably-ios/pull/543#pullrequestreview-11443102, I have given this some thought, and I am in fact now against the change.  My thinking is:

* It's an unnecessary breaking change
* It means we have to update all tutorials and documentation, this is a complex task for tutorials as each tutorial's commits need to be updated an

[2016-12-13 11:40] ricardopereira commented on #557
@mattheworiordan Ok, I agree with most of it. We should at least rename each cases from `ARTRealtimeConnectionState`:

[code]

[2016-12-13 11:40] ricardopereira commented on #557
Well, maybe it's not so important because in Swift, it gets translated to `ARTRealtimeConnectionState.Initialized` so it will only affect Objective-C code. Could be something to be done after the v0.9.

[2016-12-13 11:46] ricardopereira commented on #557
BTW, @tcard I need some feedback from you.

From IDL de `ConnectionEvent` embeds the `ConnectionState`:

[code]

### Which change seems more correct to you?

1. Duplicate the `ARTRealtimeConnectionState` as `ARTRealtimeConnectionEvent` and add the new `UPDATE` case
2. Use the last `ARTRealtimeConnectionState` and increment it on the `ARTRealtimeConnectionEvent`:

[code]

**This will be translated

[2016-12-13 11:51] tcard commented on #557
The first case. The second case is not correct at all. `ARTRealtimeConnectionEvent` must have all those variants, not only `Update`.

I'm not opposed to dropping the name changes, by the way. I'd rather have them match the IDL (ie. `ConnectionState` and `ChannelState`), but well.

[2016-12-13 13:49] mattheworiordan commented on #557
@tcard @ricardopereira can we perhaps discuss this tomorrow as it's important we get this right in 0.9 and minimise breaking changes at the same time.

[2016-12-13 16:13] ricardopereira commented on #557
@tcard @mattheworiordan By implementing the UPDATE event, I noticed that it will always exist a breaking change (at least for ObjC) because the Emitter will change (it will emit an `ARTRealtimeConnectionEvent` instead of an `ARTRealtimeConnectionState`), so code like:

[code]

should be updated to

[code]

[2016-12-14 12:47] mattheworiordan commented on #556
Superseded by https://github.com/ably/ably-ios/issues/557

[2016-12-14 12:47] #556 closed

[2016-12-15 09:49] #541 closed

[2016-12-15 12:41] tcard commented on #553
@ricardopereira No, we shouldn't. The spec [says](http://docs.ably.io/client-lib-development-guide/features/#RSL4a): "Payloads must be binary, strings, or objects capable of JSON representation, or can be empty (omitted). Any other data type should not be permitted and result in an error" That's NSData, NSString, NSDictionary of JSON-encodable objects, NSArray of JSON-encodable objects and nil. An

[2016-12-15 12:51] ricardopereira commented on #553
@tcard Thanks.
@danielrhodes I think your best choice is to publish the `MessageType` as a NSNumber like: **`publish(nil, data: MessageType.message.rawValue as NSNumber)`**. You can cast it directly because Swift does the conversion automatically if the enum is a `RawRepresentable` of type Int, Float, and so on (basically numeric types).

[2016-12-15 12:54] tcard commented on #553
@ricardopereira @danielrhodes Sorry but no, NSNumber is not one of the supported types. They should be serialized e. g. to NSString first.

[2016-12-15 13:45] SimonWoolf commented on #553
@tcard

Sorry to butt-in when I'm not an ios dev, but -- why not? Numbers (and booleans) are JSON-encodable objects, and a lone (stringified) number is a valid json text - https://tools.ietf.org/html/rfc7159#section-2 .

[2016-12-29 15:17] mattheworiordan opened #564 "Remove deprecated ProtocolMessage#connectionKey"
See https://github.com/ably/docs/commit/713122267fcb0af45fa68384109fe8d27f21e726

[2017-01-04 15:37] mattheworiordan opened #565 "0.9 presence spec amendments"
Please see recently merged in https://github.com/ably/docs/commit/cf5c4783f884d98a1a4d86bdddfa6bb22c7c2da2 into the 0.9 spec.

Please ensure that if these spec items are implemented that they are updated to reflect the changes, and any new spec items are adhered to.

[2017-01-09 11:47] #551 closed

[2017-01-09 11:48] #469 closed

[2017-01-09 11:49] #510 closed

[2017-01-11 22:12] SimonWoolf opened #576 "Default token params should not include a capabilities member"
By default, if using token auth (e.g. because they've specified a clientId), the lib is requesting a token with capabilities of `"{\"*\":[\"*\"]}"`, see https://github.com/ably/ably-ios/blob/master/Source/ARTTokenParams.m#L32

This is wrong: it fails if someone is using a key with capabilities restricted to a subset of channels. (The user gets a `Key does not support requested capabilities` error

[2017-01-11 23:02] mattheworiordan commented on #576
@SimonWoolf see https://github.com/ably/realtime/issues/780.  I am not sure I agree that request is wrong TBH.  This is a bit contentious.

[2017-01-12 05:47] sikhapol opened #577 "Should Emphasize That ARTRealtime Needs To Be Created On Main Queue"
I was stuck with this frustrating issue yesterday when I tried to create `ARTRealtime` in the callback from `URLSessionTask` and never get it to work. After many hours I tried wrapping the initialization code in `DispatchQueue.main.async { ... }` and, surprisingly, everything start to work again.

So try digging in the documentation on Ably website, to find if it's mentioned anywhere that `ARTReal

[2017-01-12 15:29] SimonWoolf commented on #576
@ricardopereira FYI: me Matt and Paddy discussed this (and Matt's concerns) today. We are going to put a workaround in realtime for this, and will be discussing deeper changes, but as far as iOS is concerned, this bug is correct, it should not be sending a `capability` member by default.

[2017-01-12 15:39] ricardopereira commented on #577
@sikhapol Creating a realtime object in a background queue should be a valid behaviour. This should be fixed. Thanks for reaching out.
/cc @mattheworiordan

[2017-01-12 16:14] mattheworiordan commented on #577
Thanks @sikhapol and sorry for the inconvenience. @ricardopereira do you know what to do then?

[2017-01-18 15:26] ricardopereira commented on #577
@sikhapol There is a PR available fixing this particular issue. You can test it by using `pod 'Ably', :git => 'https://github.com/ably/ably-ios.git', :branch => 'fix-577'`. Thanks again.

Code I used to test it:
[code]

[2017-01-19 11:39] SimonWoolf opened #579 "Calling enter() on an unidentified client should error"
[RTP8f](http://docs.ably.io/client-lib-development-guide/features/#RTP8f): "If the client library is authenticated but unidentified (i.e. clientId is a wildcard '*' or client is anonymous), the enter request results in an error immediately"

Customer [here](https://app.intercom.io/a/apps/ua39m1ld/inbox/all/conversations/7834795990) was calling enter() on an unidentified client, and didn't get an e

[2017-01-19 11:49] SimonWoolf opened #580 "Presence message timestamp interpretation is wrong"
Presence message received by an objective-c client:
[code]
Note the timestamp, which is around a million seconds *before* the epoch. Not sure how that happens

[2017-01-19 12:09] SimonWoolf commented on #579
(Note that if the ios lib were just sending it off with no clientid, realtime would respond with a `{"message":"Malformed message; no clientId in message or inferred from connection","code":40012,"statusCode":400}` NACK, which should be exposed in the error attr of the callback. Apparently that didn't happen either, so not sure what was going on)

[2017-01-23 15:18] ricardopereira commented on #579
@SimonWoolf I don't have access to Intercom but it's weird that the client didn't get an error because the spec is working.

[code]

[2017-01-23 15:22] mattheworiordan commented on #579
@ricardopereira I've asked the customer to comment in this issue.

[2017-01-23 15:30] ricardopereira commented on #580
@SimonWoolf Which client version? I think this was fixed. Please see https://github.com/ably/ably-ios/issues/525.

[2017-01-27 17:52] mattheworiordan opened #581 "Check 1.0 docs for accuracy against 0.9 changes"
See https://github.com/ably/docs/issues/264 and 1.0 PR at https://github.com/ably/docs/pull/260

@ricardopereira please can you do a similar task to what Peter did and review all Realtime & REST API docs and provide a list of what needs changing please.

Please note that Peter did not provide a list of links to Github as a reference for method definitions / interfaces etc.  Please can you do that

[2017-01-30 07:47] ricardopereira commented on #581
https://github.com/ably/docs/blame/77fe470b34d29524a4ed1e118e83d2f649e2ce33/content/root/quick-start-guide.textile#L142
(only the Blame view provides the ability to link to a specific line within the source)

Use `ARTRealtimeConnectionEvent` instead of `ARTRealtimeConnectionState`.

[code]

[2017-01-30 08:28] ricardopereira commented on #581
# Types

## ARTTokenRequest

`ttl` property of type `NSTimeInterval` in Swift & ObjC:
https://github.com/ably/docs/blame/77fe470b34d29524a4ed1e118e83d2f649e2ce33/content/types/_token_request.textile#L9

`timestamp` property of type `NSDate` in Swift & ObjC:
https://github.com/ably/docs/blame/77fe470b34d29524a4ed1e118e83d2f649e2ce33/content/types/_token_request.textile#L10

[2017-01-30 08:49] ricardopereira commented on #581
Done ✅

[2017-02-08 08:30] sikhapol commented on #577
@mattheworiordan @ricardopereira Sorry, I just saw this. Thank you guys very much for your prompt response and for working on this. Keep up the good work 👍

[2017-02-08 08:51] ricardopereira commented on #565
Done #568 #570

[2017-02-08 08:51] #565 closed

[2017-02-17 15:42] mattheworiordan commented on #581
Thanks, please leave this open as we need to update this before we release 1.0.

[2017-02-22 19:34] mattheworiordan opened #583 "Fix HttpRequest & HttpRetry timeouts"
See https://github.com/ably/docs/pull/276

[2017-02-22 21:15] ricardopereira commented on #583
Done 9722811.

[2017-03-08 03:13] #581 closed

[2017-03-08 03:14] mattheworiordan commented on #581
@ricardopereira I believe this is all fixed in	155fa73. I'm merging into www.ably.io/documentation now so it would be nice if you could double check the issues you mentioned above and confirm everything is OK. Thanks

[2017-03-08 04:04] mattheworiordan opened #585 "Release 1.0.0"
@ricardopereira please release 1.0.0 of the lib ASAP

[2017-03-11 09:07] ricardopereira commented on #581
@mattheworiordan Reviewed. I only found this issue https://github.com/ably/docs/pull/285.

[2017-03-14 18:46] derrickhunt opened #587 "Cannot install via Cocoapods with Xcode 7.3.1"
I am currently running Xcode version 7.3.1 and cannot install Ably via Cocoapods.

I am seeing the following error:
[!] Unable to find a specification for `Ably (~> 0.8)`

I have other pods in my podfile that work fine when the Ably pod is commented out, so I am pretty sure this an issue with Ably and not Cocoapods. I am on the latest version of Cocoapods.

[2017-03-15 00:58] ricardopereira commented on #587
@derrickhunt Could you run **`pod repo update`** and try again please?

[2017-03-16 02:15] mattheworiordan commented on #581
Thanks @ricardopereira

[2017-03-21 16:03] derrickhunt commented on #587
@ricardopereira That did the trick! I was unaware of that change, thanks for the heads up.

[2017-03-21 16:03] #587 closed

[2017-03-23 17:16] #583 closed

[2017-03-28 16:27] matt-OfferUp opened #589 "Crash in ARTJsonLikeEncoder"
Our iOS client has been crashing because of the Ably SDK (0.8.8). In the protocolMessageFromDictionary method in ARTJsonLikeEncoder, if an error is received, an ARTErrorInfo is being created. When this happens, if [error artString:@"message"] returns nil the app will crash. This has happened to us quite a bit in the last 24 hours.
I also updated the app to use version 1.0.0 (for my testing) but th

[2017-03-28 23:40] ricardopereira commented on #589
@matt-OfferUp Sorry for the inconvenience. It was easy to reproduce the issue from your description, thanks. Can you test the fix by using `pod 'Ably', :git => 'https://github.com/ably/ably-ios.git', :branch => 'fix-589'`? Thanks again.

[2017-03-28 23:41] #577 closed

[2017-03-28 23:41] ricardopereira commented on #555
Fixed with #586.

[2017-03-28 23:41] #555 closed

[2017-03-29 16:42] matt-OfferUp commented on #589
This looks like it will work. I dont have a way to force this to happen so I am just looking at the code but this should fix the crash.

[2017-03-31 16:38] ricardopereira commented on #589
Updates released:
 - [v1.0.1](https://github.com/ably/ably-ios/releases/tag/1.0.1)
 - [v0.8.11](https://github.com/ably/ably-ios/releases/tag/0.8.11)

[2017-03-31 16:58] #585 closed

[2017-03-31 17:08] mattheworiordan commented on #589
Ok, thanks

[2017-03-31 17:08] #589 closed

[2017-04-11 02:27] mattheworiordan opened #591 "JSON encoding exception - handle encoding failures"
See log below:

[code]

We should be:

* Using https://developer.apple.com/reference/foundation/nsjsonserialization/1418461-isvalidjsonobject?language=objc to check an object is valid to be encoded
* Ensure `nil` values are handled
* Handle these encoding issues gracefully and callback with an error

[2017-04-11 08:09] ricardopereira commented on #591
@tcard I'm looking at this.

[2017-04-13 14:06] ricardopereira commented on #591
“Ably (0.8.12) successfully published” https://github.com/ably/ably-ios/releases/tag/0.8.12
“Ably (1.0.2) successfully published” https://github.com/ably/ably-ios/releases/tag/1.0.2

[2017-04-13 14:06] #591 closed

[2017-04-17 12:06] escfrya opened #593 "Crash in ARTOSReachability"
Seems like ARTOSReachability_Callback has referance to deallocated object.
ably version: 1.0.1

{code}
Crashed: com.apple.main-thread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000010

0	Ably					-[ARTOSReachability internalCallback:] + 80
1 	Ably					ARTOSReachability_Callback + 124
2	SystemConfiguration		reachPerformAndUnlock + 580
3	CoreFoundation			__CFRUNLOOP_IS_CALLING_OUT_TO_A_SOURCE0_

[2017-04-17 12:22] tcard commented on #593
@escfrya Thanks for the report! Is this happening always/often? If so, could you tell us how? Logs with ARTClientOptions.logLevel set to .Debug would be ideal.

[2017-04-17 12:33] escfrya commented on #593
@tcard I can't reproduce this bug on my device.
Stacktrace from Crashlytics, and i see 18 crashes in dashboard (not so often).

[2017-04-18 23:13] tcard commented on #593
I've added 8297ea4 (1.0) and bada06b (0.8). That should prevent a crash, but the underlying condition causing the crash is probably not fixed. We also can't reproduce this issue, so this requires further looking into.

@escfrya Could you tell us what you have at AppDelegate.swift, line 15?

[2017-04-19 08:11] escfrya commented on #593
@tcard line 15 - class AppDelegate: UIResponder, UIApplicationDelegate {

[2017-04-27 10:27] mattheworiordan opened #594 "Push: uncaught exception"
Customer (Edgar) reported this issue

[code]

[2017-04-27 13:58] ricardopereira commented on #594
@mattheworiordan Could Edgar test the `push-spec-activationstatemachine` branch and see if it works?

[2017-04-27 19:04] itolisto commented on #594
Hi @ricardopereira, effectively, branch `push-spec-activationstatemachine` is working

[2017-04-27 23:55] shantamg opened #595 "Use of unresolved identifier 'ARTPush'"
I installed for ios per the instructions at [Github PR 582](https://github.com/ably/ably-ios/pull/582) using CocoaPods.

I tried adding this to the AppDelegate (using the Swift instructions from [this page](https://www.ably.io/documentation/realtime/push/activate-subscribe)):

    optional func application(_ application: UIApplication, didRegisterForRemoteNotificationsWithDeviceToken deviceToken:

[2017-04-28 06:53] tcard commented on #595
Hi! Sorry but I can't reproduce the problem you describe.

Are you doing `import Ably` at the top of your file?

[2017-04-28 06:54] ricardopereira commented on #595
@shantamg I think you're missing the `import Ably`. Could you try it? Thanks.

[2017-04-28 06:55] ricardopereira commented on #595
(Ups 😄  @tcard almost at the same time)

[2017-04-28 14:49] shantamg commented on #595
I actually did try that and got "No such module 'Ably'".

I have Ably in the Podfile, I did `pod install` and I see the Ably folder in the Pods folder...

[2017-04-28 16:20] ricardopereira commented on #595
@shantamg Could you share the `Podfile` with us, please?

[2017-04-28 17:10] shantamg commented on #595
[code]

[2017-04-30 22:24] ricardopereira commented on #595
@shantamg and do you open the generated `.xcworkspace` file? (see https://guides.cocoapods.org/using/using-cocoapods.html#installation)

[2017-04-30 23:33] shantamg commented on #595
Yes, I do.

Next thing I will try is setting up a fresh vanilla app and trying with
that. Will do this evening.
On Sun, Apr 30, 2017 at 3:24 PM Ricardo Pereira <notifications@github.com>
wrote:

[2017-05-02 09:06] mattheworiordan opened #596 "Crash strategy"
@ricardopereira @tcard as discussed, we are going to approach the reported crashes in the library in four ways:

* [x] Wrap all public methods with error handling such that an error is handled, logged, and the connection is moved to the failed state (if appropriate).  The same generic handler should also apply to any incoming events that generate exceptions, and I expect in almost all cases should

[2017-05-06 19:12] escfrya commented on #593
@tcard Unfortunately, crash reproduced in new app version(ably version 1.0.3)

[code]

[2017-05-07 10:46] mattheworiordan commented on #593
Hi @escfrya.  That's disappointing to hear.  We're working on a release right now that will help us a) prevent crashes across the board and instead emit an error and fail, b) allow us to debug the issues in more detail by capturing the state and what has happened prior to the failure.  I am sure @tcard will be in touch on Monday with details on that.

[2017-05-09 22:48] shantamg commented on #595
Sorry for the delay.

I tried making a fresh xcode app, did `pod init`, updated the Podfile as above, ran `pod install`, opened the xcworkspace file, added `import Ably` to the top of the AppDelegate.swift file, and I get:

No such module 'Ably'

[2017-05-10 07:06] ricardopereira commented on #595
@shantamg Could you send us that fresh project please?

[2017-05-10 12:35] shantamg commented on #595
[Test Ably.zip](https://github.com/ably/ably-ios/files/989722/Test.Ably.zip)

[2017-05-10 22:33] mariaghaffar opened #600 "Connection problems and if got connected - not receiving the message"
I am facing issues while connecting to the AblyRealTime client. If I got connected, I am unable to receive the messages. Error log is below.
Tags: ARTJsonLikeEncoder, websocket

Error Log:

[code]

[2017-05-11 08:39] mattheworiordan commented on #600
Hi @mariaghaffar.

The log you are showing doesn't really explain what the issue is I am afraid.

Can you explain what is happening from the publisher side, which channels they are publishing to, and then what you are doing in iOS, how you are subscribing to messages etc. The log just shows that you attach to a channel `public:demobus` and connect to Ably, and that seemingly is working.

[2017-05-11 13:31] mariaghaffar commented on #600
Thank you @mattheworiordan for your response.

I am working on [myTrackee](https://www.myTrackee.com/) ios side. I was able to subscribe the channel and receive the messages from Ably before exception one issue (Ref: Issue1 in the end of comment) but yesterday noon I stopped receiving messages anywhere (website\ios).

**Subscribe Function**

[code]
As you can see in log, as I re-subscribe to the c

[2017-05-11 14:20] tcard commented on #600
Hi, @mariaghaffar! I can see from your last log that you connect to Ably at 16:12:12.173. I assume that's when `viewDidLoad` runs. But then I see your subscribe function, which prints `Subscribing... to channel public:demobus`, isn't called until 16:12:52.429. After that, you get the first message shortly afterwards, at 16:12:53.184.

So there's a 40-second interval between your connection and you

[2017-05-12 15:37] mattheworiordan opened #601 "Document thread-safety requirements in current version"
We need to document that the iOS lib is not thread-safe and thus we need to:

* [x] Add documentation in [realtime usage section](https://www.ably.io/documentation/realtime/usage) stating that the iOS lib is not thread-safe, with a high level summary of the types of problems they can expect, a recommendation and link to [how Apple recommends they deal with concurrency](https://developer.apple.com/

[2017-05-12 15:38] mattheworiordan opened #602 "Spike: Review what's needed to use GCD to make the lib thread-safe"
See what's involved in making the lib thread-safe with GCD.

Need to work out what changes need to be made:

* [ ] State changes
* [ ] Registering listeners
* [ ] Publishing / presence changes
* [ ] Subscribing and Emitting efficiently

Then we can establish if there are any internal implications too that need fixing ASAP.

[2017-05-12 16:50] mattheworiordan commented on #602
BTW. I believe there is no need to add thread-safety to v0.8.

[2017-05-14 11:26] mariaghaffar commented on #600
After 40-second interval, I am calling subscription from another view after searching it.

Because of the length I didn't post the full log. May be that is why I skipped it before, but here is the new log. You can see trying to subscribe at `14:10:31.989` but it appears that it is before client is connected. But I can see in log that I am receiving message after **Connected**.

If thats is the rea

[2017-05-15 04:36] tcard commented on #601
See 0e48e63.

[2017-05-15 22:21] mariaghaffar commented on #600
Any response?

[2017-05-15 22:46] mattheworiordan commented on #600
Hi @mariaghaffar. Unfortunately @tcard who initially responded is away today. I believe he is back tomorrow afternoon so I expect you'll get a response tomorrow some time.

[2017-05-16 08:14] ricardopereira commented on #595
@shantamg Sorry for the delay. I tried your example and it's working. You need to build it once so that the library becomes available.

[2017-05-16 08:29] ricardopereira commented on #600
@mariaghaffar I can help you today.

You mentioned you're subscribing the channel at `14:10:31.989`. Can you show the code where you create the channel?

^ this indicates that the Realtime is not connected or even not connecting so you definitely have something missing on your code.

[2017-05-16 09:08] mariaghaffar commented on #600
I am creating the channel and trying to subscribe after "Connecting" `[Ref: 14:10:31.876]`.

**Subscribe Function (in which I am creating the channel)**
[code]

[2017-05-16 10:01] ricardopereira commented on #600
@mariaghaffar Thanks. Why are you setting `options.queueMessages` to false? Some channel operations are queued when the connection is `CONNECTING` and are dispatched when the connection moves to `CONNECTED`. That seems to be your problem.

[2017-05-16 12:46] mariaghaffar commented on #600
Thank you @ricardopereira for your response. It is working now.

[2017-05-16 13:21] #595 closed

[2017-05-16 13:33] mattheworiordan commented on #595
@shantamg can you confirm if you build it it works for you?

[2017-05-16 14:43] mattheworiordan commented on #601
@tcard 0e48e63 is not a commit?

[2017-05-17 14:50] tcard commented on #601
@mattheworiordan Sorry, it's a commit on docs: https://github.com/ably/docs/commit/0e48e636a9e9036f6250350e0bad2e46c2445feb

[2017-05-17 14:52] tcard commented on #601
BTW, as part of #603 I put state transitions in GCD serial queues, which should reduce thread-safety issues and possibly even make the library internally thread-safe.

[2017-05-17 15:03] paddybyers commented on #601
You don't sound very sure?

[2017-05-17 15:13] tcard commented on #601
@paddybyers It definitely improves the situation, I'm not sure if it makes it _completely_ thread-safe internally.

[2017-05-17 16:34] #594 closed

[2017-05-17 16:39] mattheworiordan commented on #601
@paddybyers remember we still have [our spike](https://github.com/ably/ably-ios/issues/602) to complete

[2017-05-17 16:51] tcard opened #604 "ACK: receiving a serial greater than expected"
We've seen this happening for a ton of users for OfferUp. Right now we're working around it (see https://github.com/ably/ably-ios/pull/598/commits/4b9b19639c33bc458a862166883ccbcf06705aa6) but we don't know the root cause.

We've got some reports of it back in Sentry now: https://errors.ably.io/ably/ably-ios/?query=is%3Aunresolved%20receiving%20a%20serial%20greater%20than%20expected

[2017-05-17 23:15] SimonWoolf opened #605 "ably-ios ws spec breach: closing websockets with reserved close codes"
Apparently ably-ios sometimes closes the websocket with [code 1006](https://github.com/ably/ably-ios/blob/eb3a8f6d16ea74072eb6f39a0a238688e3db950c/Source/ARTWebSocketTransport.m#L31).

This is a breach of the spec, see https://tools.ietf.org/html/rfc6455 page 45: "1006 is a reserved value and MUST NOT be set as a status code in a Close control frame by an endpoint". (It's the value displayed when

[2017-05-18 13:47] mattheworiordan commented on #604
@ricardopereira did you look at the errors.  Did it help unearth anything?

[2017-05-19 08:09] ricardopereira commented on #604
I'm looking at a `ARTRealtime ACK: receiving a serial greater than expected` report but I can't see the full log. @tcard Where do you see the history log that was uploaded?

[2017-05-19 11:44] tcard commented on #604
@ricardopereira Hmm, that's weird. It's in "breadcrumbs", but some events to have breadcrumbs and some don't, I don't know why.

[This one](https://errors.ably.io/ably/ably-ios/issues/172/) has them.

[2017-05-22 15:40] mattheworiordan commented on #604
@ricardopereira any update?

[2017-05-22 17:50] ricardopereira commented on #604
@mattheworiordan What does a ACK with `count: 0` mean? All failures happened while the client was processing ACK messages with `count: 0`. cc @tcard

[code]

[2017-05-24 12:43] mattheworiordan commented on #604
Can we check that the raw message has count 0?

[2017-05-24 12:47] mattheworiordan commented on #604
@tcard I will raise an internal issue if we can confirm the count is in fact zero in the raw protocol message.

[2017-05-24 13:14] tcard commented on #604
Actually, not my brightest moment there. Those reports are _from the test suite_. *facepalm* I'll make sure we don't send Sentry reports from tests.

OK, apparently this hasn't actually happened in production: https://errors.ably.io/ably/ably-ios/?query=is%3Aunresolved%20receiving%20a%20serial%20greater%20than%20expected%20environment%3Aproduction%20

[2017-05-24 22:14] shantamg commented on #595
Ok, that makes sense. I did a build and now Ably loads, but I'm not sure where to find a working example.

The code I pasted above in the first comment gives me lots of errors:

- 'optional' can only be applied to protocol members
- incorrect argument label in call (have '_:realtime:', expected '_:rest:')

Sorry if I'm still missing something. Just looking for a simple working example.

[2017-05-25 11:51] tcard commented on #595
@shantamg Our fault! Those `optional` shouldn't be there, and the `realtime` label wasn't really available. It is now, so if you run `pod update Ably` on your project then it should work. I've removed `optional` from the docs snippet too. Thanks for the heads up!

[2017-05-25 12:27] shantamg commented on #595
Awesome, thanks. Will give that a try in a few hours.
On Thu, May 25, 2017 at 4:51 AM Toni Cárdenas <notifications@github.com>
wrote:

[2017-05-25 16:32] shantamg commented on #595
Still not quite there.
I did pod update and now the `realtime` label is available, and I got rid of the `optional` (which xcode suggested). Xcode also pointed out that `'didRegisterForRemoteNotificationsWithDeviceToken(_:realtime:)' has been renamed to 'didRegisterForRemoteNotifications(withDeviceToken:realtime:)'` so I fixed that, but I still get a number of other errors:
 - `expected declaration

[2017-05-29 15:49] tcard opened #607 "Consider not holding references to children objects"
Right now, this causes a crash:

[code]

Or just:

[code]

This is because we're following the pattern of parents creating instances of children, usually at startup (e. g. `rest.channels`, `rest.auth`, `realtime.connection`...), and those children having the parent as a dependency, so they refernce the parent too. To avoid a reference-count cycle that would memory leak, we (correctly) reference th

[2017-05-29 16:23] tcard opened #608 "Make sure we short-circuit on non-nil NSError**"
I've spotted a couple of places where we don't properly short-circuit when an error occurs, and instead we attempt to go on as if everything went right. [For example, here.](https://github.com/ably/ably-ios/blob/fc53ff7/Source/ARTPushChannelSubscriptions.m#L57)

To avoid littering the code with Go-style `if (err) return;`, maybe we can use a macro to act as "monadic do". It's probably not worth it

[2017-05-29 16:48] tcard commented on #595
@shantamg

This is a syntax error on your code.

This is not an error, it's a warning. You can ignore it for now but eventually you'll have to set the options you want, at least your API key or other means of authentication in order to use Ably.

Thanks, should be fixed now. Also the ARTMsgpackEncoder warning.

About warnings on our dependencies, I'm afraid we can't do much about them. So you shou

[2017-05-30 08:25] mattheworiordan commented on #607
I don't follow.  Why do we have a weak reference from a Channel to the Rest/Realtime Client when as far as I can tell, it depends on it?

[2017-05-30 08:52] tcard commented on #607
@mattheworiordan They depend on each other. The channel depends on REST/Realtime and REST/Realtime depends on the channel (indirectly, through the `.channels` collection).

In a typical GCd language you can just model this with a straightforward reference cycle. But in iOS there's no GC but [Automatic Reference Counting](https://developer.apple.com/library/content/documentation/Swift/Conceptual/Sw

[2017-05-30 12:39] tcard commented on #607
Well, I don't see the point when we can just _not_ have an error.

I've thought a bit more about this and I might have a better solution. Instead of children depending on the parent, and the parent holding up to all their state, which is kind of cumbersome, have a "inner" parent object, and have the client object be just a collection-like for its children, which wouldn't depend on it, but on the p

[2017-05-30 12:53] mattheworiordan commented on #607
Ok, so just to be clear then:

* If a reference to the client/connection was lost (for the dev consuming this API), they would have no means to access the object again as it's not exposed from the Channel object or any of it's children.
* So long as a ref to Realtime / Channel is kept, the reference counters will prevent them being disposed.  However, as soon the Realtime & Channel refs are both g

[2017-05-30 12:59] tcard commented on #607
Right. This is less of a corner case for REST, I think, since it's stateless. You can make one-off instances of REST and just take a channel, for example.

Yes, just as in any normal GCd language as long as there are no reference cycles.

Sure, it's not a terribly critical issue. But since the code is going to go through a major review for thread-safety anyway, this could sneak at the same time.

[2017-05-30 16:24] shantamg commented on #595
Thanks, that's great.

The only issue I'm still having is the "expected declaration". I'm not sure where the syntax error is. I have copied the code directly from the documentation.

[2017-05-31 11:44] mattheworiordan commented on #607
Sure, but it would feel odd to have two different models.  Additionally, it's not completely stateless. For example a channel is instances with options which affect how it decrypts messages.

Ok, how's that going?

[2017-05-31 12:55] #605 closed

[2017-06-01 05:53] shantamg commented on #595
Ok I figured it out -- there are zero width spaces in the code examples in the docs.

On [the page where I got the code](https://www.ably.io/documentation/realtime/push/activate-subscribe) if you inspect the source of any code block, the blank lines look like this:

    <pre class=" CodeMirror-line">
        <span style="padding-right: 0.1px;"><span cm-text="">&#8203;</span></span>
    </pre>

Tha

[2017-06-01 09:49] mattheworiordan commented on #595
@shantamg urr, that's a bit of an issue as we use CodeMirror to format the code. I'll see if the CodeMirror guys have any advice on this one as I am not sure what to do other than to hack a fix which replaces these zero width spaces with something else.  We can do that easily, but I expect there's a good reason behind the use of these zero width spaces.  See https://github.com/codemirror/CodeMirro

[2017-06-01 17:02] shantamg commented on #595
Thanks!

[2017-06-07 04:29] itolisto opened #611 "ARTPush didRegisterForRemoteNotificationsWithDeviceToken error"
Hi,

I'm getting an error when calling

`[ARTPush didRegisterForRemoteNotificationsWithDeviceToken:deviceToken realtime:ably];`

<img width="1440" alt="screen shot 2017-06-06 at 22 14 13" src="https://user-images.githubusercontent.com/11670462/26862150-3771811e-4b06-11e7-9c59-cf1fa0902c38.png">

My podfile:

[code]

But if I use the branch 'push-spec-activationstatemachine' when I call the method

[2017-06-07 08:30] ricardopereira commented on #611
@itolisto Could you test the `push-spec-activationstatemachine` branch and see if it works please?

`pod 'Ably', :git => 'https://github.com/ably/ably-ios.git', :branch => 'push-spec-activationstatemachine'`

[2017-06-07 09:53] tcard commented on #611
@ricardopereira Is there anything blocking merging that with `push`?

[2017-06-07 10:24] tcard opened #612 "Connection resume failure detaches all channels"
From https://support.ably.io/helpdesk/tickets/1915:

So I've checked the code and: when after a resume attempt (which happens [if CONNECTING after FAILED, DISCONNECTED and SUSPENDED](https://github.com/ably/ably-ios/blob/a0dbdddcde74b53ff4b8cfcb6417490ca3c622af/Source/ARTRealtime.m#L378-L383)) the received connection ID is a new one, then [we detach all channels](https://github.com/ably/ably-ios/b

[2017-06-07 10:27] ricardopereira commented on #611
@tcard No, it's good.

[2017-06-07 10:29] mattheworiordan commented on #612
@tcard sure, that makes sense to me. @paddybyers @SimonWoolf do you agree?

[2017-06-07 10:44] SimonWoolf commented on #612
Why isn't that already covered by [RTN15c3](https://docs.ably.io/client-lib-development-guide/features/#RTN15c3)? "*... a CONNECTED ProtocolMessage with a new connectionId ... For all channels in the ATTACHING or ATTACHED state, the client library should fail any previously queued messages for that channel and initiate a new attach ...*"

[2017-06-07 10:44] tcard commented on #612
By the way, the course of action for iOS in my opinion should be to remove [these lines](https://github.com/ably/ably-ios/blob/a0dbdddcde74b53ff4b8cfcb6417490ca3c622af/Source/ARTRealtime.m#L556-L562) and instead do something like "for all channels: if channel is attached: move to suspended". Then, the channel [will reattach](https://github.com/ably/ably-ios/blob/a0dbdddcde74b53ff4b8cfcb6417490ca3c

[2017-06-07 10:47] tcard commented on #612
@SimonWoolf True, I didn't see that. Arguably that should be under/referenced from [connection state change side effects for channels](https://docs.ably.io/client-lib-development-guide/features/#RTL3).

[2017-06-07 10:51] tcard commented on #612
[This is the test for RTN15c3](https://github.com/ably/ably-ios/blob/a0dbdddcde74b53ff4b8cfcb6417490ca3c622af/Spec/RealtimeClientConnection.swift#L2393-L2394). It doesn't look right to me, it checks that the channel ends up detached while RTN15c3 says "The client library should initiate an attach for channels that are in the SUSPENDED state. For all channels in the ATTACHING or ATTACHED state, the

[2017-06-07 10:56] SimonWoolf commented on #612
Yep, looks like that's a test for the 0.8 version of RTN15c3, it got rewritten for 1.0 as part of the auto-channel-reattach changes.

I disagree, that'd be an out-of-spec use of `suspended` (the user would get a state change to `suspended`, then immediately after one for `attaching`). (We did actually discuss doing that as a way to signal a channel discontinuity to the user when planning 1.0, but

[2017-06-07 17:04] itolisto commented on #611
@ricardopereira Branch `push-spec-activationstatemachine` is working. Just have a question, when `[ARTPush didRegisterForRemoteNotificationsWithDeviceToken:deviceToken rest:ably.rest]` is called is has to print to console the device token right? But I can't see the "ARTPush: device token received" message in the logs.

[2017-06-07 17:50] tcard commented on #611
@itolisto Does it work if you print the `deviceToken` yourself? If not, there's something wrong about your push setup, since that part doesn't depend on Ably. Did you follow through [Apple's documentation](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/HandlingRemoteNotifications.html#//apple_ref/doc/uid/TP40008194-CH6-SW1)?

[2017-06-07 19:49] itolisto commented on #611
@tcard Yes, I'm receiving the `deviceToken` that's precisely why I don't understand why push notifications aren't working.

As I mentioned when I submitted the issue (and if you look closely to the image attached) when I use the `push` branch the `deviceToken` is printed in console and when the `didRegisterForRemoteNotificationsWithDeviceToken` method is called the app crashes. On the other hand,

[2017-06-09 07:30] tcard commented on #604
So I've finally found something interesting about this. The msgSerial property of ARTProtocolMessage is a NSNumber object. However, it was a primitive int type before. Primitive types aren't reference-counted, so the property was declared as `assign`, ie. assignment to it is just a bitwise memory copy. But when we converted the property to NSNumber, we forgot to change this `assign` to `strong` so

[2017-06-09 09:02] tcard commented on #604
In fact, I'm reviewing the other two crashes we were investigating and it's _very_ likely this was causing them as well, as the crashes were happening when accesing `msgSerial` and when printing the just-decoded protocol messages, so both operations would use-after-free the NSNumber. So, yeah, nothing to do with thread-safety after all.

[2017-06-09 21:31] SimonWoolf opened #614 "Reported crash when an ATTACH is responded to with a DETACHED after a while"
User reports crash with ably-ios, see debugger screenshot in https://app.intercom.io/a/apps/ua39m1ld/respond/inbox/all/conversations/10249232111 . Further debugging revealed that this happens when Ably fails to instance the channel, so crashes when an ATTACH request is responded to (after 30s) with a DETACHED (e.g. `{"action":13,"error":{"message":"Timeout waiting for master to become ready","code

[2017-06-11 13:20] mattheworiordan commented on #593
@tcard it seems this error is still happening according to our internal error reporting.

[code]

See https://errors.ably.io/ably/ably-ios/issues/100893/ for the details.

@tcard this is reported in 1.0.3.  @tcard do you think an upgrade to 1.0.4 may fix this, or is this issue unrelated to any fixes in 1.0.4?

[2017-06-11 14:20] tcard commented on #593
@mattheworiordan I've been seeing those errors, but they have nothing to do with this. In fact, if you look at the stack trace (which for some reason Sentry thinks is invalid; we should migrate to the official Sentry library now that it's in Obj-C —anyway, it's visible as JSON if you expand the error on the top) there's a bunch of "<redacted>" functions, so we don't know if it's Ably's fault at al

[2017-06-11 14:25] mattheworiordan commented on #593
Any ideas how we can isolate that in the future so we do know then?

[2017-06-11 18:12] mattheworiordan commented on #604
@tcard bravo, good find :)

[2017-06-22 08:18] mattheworiordan opened #615 "Pod installation issue: KSCrashAblyFork not found"
Not able to compile Ably target on Pods for iOS/Objective-C client. Error: "Module 'KSCrashAblyFork' not found" when compiling ARTRest.m. The target for compiling KSCrashAblyFork appears successful prior to this failing point.

<img width="1152" alt="compilingfailed" src="https://user-images.githubusercontent.com/43789/27424071-baec98ae-572b-11e7-865a-c3442515b1d4.png">

[2017-06-23 08:41] mattheworiordan commented on #615
From customer on how to reproduce.  I asked for the project, they have not sent it.

@ricardopereira can you confirm if you get this issue when doing the above?

[2017-06-24 18:44] mattheworiordan commented on #593
@tcard additionally, could we modify the error sent to our exception tracker so that the errors are grouped?  I believe the reference is what is preventing that. Perhaps look at the fingerprinting feature.

[2017-06-24 19:04] ricardopereira commented on #615
@mattheworiordan The latest version (1.0.5) is working fine for me. Please run `pod update` or more specifically `pod repo update` to update local specs repositories and try it again.

[2017-06-24 19:09] mattheworiordan commented on #615
@ricardopereira it's not me who has the issue, it's the customer :/  I'll ask them.

[2017-06-24 20:49] ricardopereira commented on #612
PR is open with the fix ^

[2017-07-05 10:30] #612 closed

[2017-07-05 16:47] tcard commented on #615
This has also been reported by @matt-OfferUp. I also cannot reproduce this. I've tried to spot any config difference between KSCrashAblyFork and other dependencies without finding any. Besides what @ricardopereira says I can only recommend doing a full pod cache clean and then trying again:

[code]

[2017-07-05 17:21] matt-OfferUp commented on #615
I did all the steps above and am still getting the same error

[2017-07-06 09:14] ricardopereira commented on #615
@matt-OfferUp Could you tell us your CocoaPods version please (`pod --version`)?

[2017-07-06 09:36] mattheworiordan commented on #552
@tcard  is this not implemented already?  Can we close this issue?

[2017-07-06 12:51] tcard commented on #552
No, suprisingly it isn't, neither in master nor in the push branch. I'll do it now.

[2017-07-06 14:58] matt-OfferUp commented on #615
We are running version 1.1.1

[2017-07-06 15:19] ricardopereira commented on #615
@matt-OfferUp Thanks. Could you update the CocoaPods to `1.2.1` and try again (`pod update`)?

[2017-07-06 18:28] matt-OfferUp commented on #615
I updated to 1.2.1 and still have the same issue. I even deintegrated, cleaned cache, and updated again and still didnt work.

[2017-07-07 18:10] mattheworiordan commented on #615
@ricardopereira @tcard any further suggestion?  It's a bit of a concern we cannot get this working wth Matt.  Can you please have a think what else we can do to get to the bottom of this issue?

[2017-07-07 19:52] matt-OfferUp commented on #615
A quick work around, until we can figure out what the issue is, is to replace @import KSCrashAblyFork with #import <KSCrashAblyFork/KSCrash.h> in ARTRest.m.

If I make this change locally I can build and everything looks good.

[2017-07-09 17:11] mattheworiordan commented on #615
@matt-OfferUp thanks for the notes on the workaround.

I am back from holiday now so will see what we can do to prioritise a more permanent fix tomorrow.

[2017-07-09 19:51] mattheworiordan commented on #552
If it's not in the push branch, how could push even work from the library itself?  I assume it didn't right?

[2017-07-10 09:24] #552 closed

[2017-07-10 09:27] tcard commented on #552
If you mean how could you send push notifications from the library, you could use `rest.push.publish`, but yes, it had incomplete support. I'm not sure how we overlooked this...

[2017-07-10 22:49] ricardopereira commented on #615
@matt-OfferUp What's the app iOS deployment target (lowest operating system version that the app can run on)? You can only use **modules** (the "semantic import" like`@import`) on iOS 7 and macOS Mavericks. It could be related. Or `KSCrashAblyFork` has the `DEFINES_MODULE` flag off.

[2017-07-18 11:54] mariaghaffar commented on #600
This issue has been reproducing from past some time. I even updated the podfile but still in vain. I would really appreciate help on this. Thank you

**Note:**

- Ably connection is being initialized and connect is called as: `ablyRealtime!.connection.connect()` in `FirstViewController: manageSubscriptionAndDraw`

- After `connect()` is called _(but connected state is not connected)_, subscription

[2017-07-18 14:41] mariaghaffar commented on #600
Any response??

[2017-07-18 17:49] mattheworiordan commented on #600
Hi @mariaghaffar. I will see if @ricardopereira or @tcard can help.

[2017-07-18 17:57] tcard commented on #600
Hi @mariaghaffar. It looks to me from the log that the problem is still the same: you're setting the `queueMessages` option to false. Can you confirm this is not the case?

I assume this because of this:

[code]

CONNECTING is not an active state [only when `queueMessages` is false](https://github.com/ably/ably-ios/blob/e8f9314f93b1e7001f62f19a8ca9e2b13bd2e219/Source/ARTRealtime.m#L879-L887).

[2017-07-18 20:11] mariaghaffar commented on #600
My apologies @tcard, yes it was set false as `options!.queueMessages = false` because if we set it true, it halts my view because of too much message coming even though we are handling message in global background and drawing message out in main. Any suggestions on that?

Thank you

[2017-07-19 08:08] mattheworiordan commented on #600
@mariaghaffar why not process all incoming & outgoing messages in a separate thread, or queue using the GCD?

I am closing this issue as this is a configuration and not a library issue.

[2017-07-19 08:08] #600 closed

[2017-07-19 09:35] mattheworiordan opened #618 "TTL is being populated as a default for token requests in tokenRequestToDictionary method"
See this log from a client that is requesting a token request from an `authUrl` and then submitting that token request to Ably.

Instanced with an `authUrl`:

[code]

Token request is requested from `authUrl`:

[code]

Note that no TTL is specified at this point which is completely valid. [`clientId` and `ttl` are optional](https://docs.ably.io/rest-api/token-request-spec/)

Then when the token re

[2017-07-19 12:50] mariaghaffar commented on #600
Thank you for your response.

So there is no option in library to start receiving messages as soon as ably is connected if subscribed? Same is happening if connection got disconnected in between, not receiving messages after that.

[2017-07-19 14:13] mattheworiordan commented on #600
That is what the Ably library does.  See https://www.ably.io/documentation/realtime/connection#connection-state-explained.
 Once the connection is working, all messages on all attached channels are received when published.

See https://support.ably.io/solution/articles/3000044639-connection-state-recovery.  That works, so it sounds like you have a problem on your end.  Have you checked that the ch

[2017-07-19 16:29] matt-OfferUp commented on #615
Our deployment target is iOS 9.0 so that shouldn't be an issue. I checked DEFINES_MODULE in KSCrashAblyFork and it was off, though when I manually turn it on it still fails in the same place. (I also tried manually turning on DEFINES_MODULE in the ably pod and in the Pods project, none of which worked)

[2017-07-19 16:32] tcard commented on #615
@ricardopereira Is there any downside to just using `#import <KSCrashAblyFork/KSCrash.h>`?

[2017-07-19 16:52] #618 closed

[2017-07-19 19:09] ricardopereira commented on #615
@tcard No, it's fine. I have a feeling that all `#import` are mapped to use `@import` automatically. Should be fine.

[2017-07-21 16:05] thomasyuan opened #621 "channel doesn't have 'subscribe' interface anymore?"
Pod version 1.04.

This is what I have in ARTChannel.h
[code]

[2017-07-22 00:30] ricardopereira commented on #621
@thomasyuan `subscribe` is only available in Realtime, see https://github.com/ably/ably-ios/blob/master/Source/ARTRealtimeChannel.h#L34-L37

Are you facing some sort of error?

[2017-07-22 03:07] thomasyuan commented on #621
Thank @ricardopereira, my mistake.
When I read the document, I focused on swift code.  So I defined
```var channel: ARTChannel!```
Change to
```var channel: ARTRealtimeChannel! ```
fixed it.

[2017-07-22 03:07] #621 closed

[2017-07-24 14:19] smhk commented on #615
For what it's worth, I went with

`use_frameworks!`

in the Podfile and it did seem to solve the problem.

[code]

As has been said, it's fairly depressing that Ably is in Objective-C  :/

[2017-07-24 14:33] mattheworiordan commented on #615
Well we'd prefer Swift of course and all of our tests are in Swift for this reason, however there are reasons to use Objective-C even if it's a horrible language, such as portability.  For example, see the [Sentry library which was rewritten from Swift into Obj-C specifically for this reason](https://github.com/getsentry/sentry-cocoa/pull/154).

What is depressing about it being Obj-C given you're

[2017-07-24 14:44] smhk commented on #615
Hey Matthew,

you’re kidding man ??

* I’ve been at it for FOUR HOURS and still can’t compile a basic app.

My client has a HUGE project they want to bring to Ably.  We use PubNub, Firebase, Parse extensively for our large clients (Viacom down) and with those packages you just click and play.

* You are using two ancient, unmaintained libraries (socketRocket and msgpack) which are crap, as well as

[2017-07-24 23:07] mattheworiordan commented on #615
@smhk, did you see https://github.com/ably/ably-ios/releases/tag/1.0.7?  It should fix this issue.  It would be good to know if it does for you.  Additionally, can you confirm if you have Carthage issues too?

[2017-07-24 23:17] smhk commented on #615
Sadly I do have carthage issues: as soon as I get a chance, I will try that release you mention.

I kind of have to press on though, now that I've got it stabilized!

Sorry for the disappointment I expressed: I'm a "leading expert" (I guess) in every baas, and I LOVE what you're doing with Ably; I'm investigating for a biggish client that has come along.

You can imagine my disappointment when the

[2017-07-24 23:22] mattheworiordan commented on #615
@smhk I cannot agree with everything you say unfortunately.

Ok, as requested, please advise what the issue is as without that, it's unlikely we'll be able to fix it.   As you can see https://github.com/ably/ably-ios/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20carthage, you are the only one affected by this right now.

Understood.  I would appreciate it if you have time through to try the fix

[2017-07-24 23:29] smhk commented on #615
You are INCREDIBLY responsive and I am a HUGE fan of Ably.  Catch you tomorrow  :)

[2017-07-25 12:23] SimonWoolf opened #622 "1.0 auth flow doesn't work?"
Customer points out that on getting a new token (as requested by the server sending an AUTH), instead of sending the token in its own AUTH message, the library appears to disconnect and start a new websocket connection, without even attempting a resume. (Note wss url at 18:52:09.869, no `resume` param)

[code]

[2017-07-25 12:30] SimonWoolf commented on #622
Possibly relevant: transportReconnectWithRenewedToken just calls transportConnectForcingNewToken with forceNewToken: true, which appears to trigger a close and reopen of the transport: https://github.com/ably/ably-ios/blob/master/Source/ARTRealtime.m#L796 . (Even so, that claims to do so with resume options, so perhaps there's a second bug for why that doesn't cause the transport to attempt a resu

[2017-07-27 11:47] mattheworiordan commented on #622
@tcard I see 9f2f84f has been added which tests that the connection is correctly reused.  However, is there not a secondary issue which is that even if it had used a new connection, it should have resumed and didn't.  Do we have a test for that as well?

[2017-07-27 12:51] tcard commented on #622
I haven't explicitly for this case, since it no longer exists. However, we test by spec item, and [there are tests checking that e. g. DISCONNECTED and then CONNECTED connections are resumed properly](https://github.com/ably/ably-ios/blob/7f92795f13d1a756e15b43284e41aa3d627c4d41/Spec/RealtimeClientConnection.swift#L2264-L2265).

[2017-08-01 07:36] andreiChis70 opened #624 "Crash in [ARTRealtime transitionSideEffects:] (508)"
Ably v1.0.6
*** Collection <ARTRealtimeChannels: 0x17403f1c0> was mutated while being enumerated.
-[ARTRealtime transitionSideEffects:]

The problem is that I cannot reproduce it.

0  CoreFoundation                 0x1909a2fe0 __exceptionPreprocess
1  libobjc.A.dylib                0x18f404538 objc_exception_throw
2  CoreFoundation                 0x1909a2a30 -[NSException name]
3  Ably

[2017-08-01 09:49] tcard commented on #624
Thanks for the report @andreiChis70. This looks to me like a thread-safety issue, as the `ARTRealtimeChannels` collection is being mutated (ie. a channel is created or released) in a thread while being iterated in another thread. Luckily, we're in the process of making the whole library thread-safe. The next release will fix this and other related issues.

[2017-08-01 12:48] andreiChis70 commented on #624
I'm lucky :)
Looking forward to the next release.

[2017-08-03 09:39] tcard opened #625 "Memory leak when publishing via realtime"
See screencast: https://www.screencast.com/t/IE5uVcUj

The user bisected this as a regression from 1.0.3 to 1.0.4, when Sentry was introduced.

[2017-08-03 15:17] tcard commented on #625
I can't reproduce this. I've used this code:

[code]

But the memory kept constant the whole time...

[2017-08-04 17:09] #622 closed

[2017-08-05 08:56] ricardopereira commented on #625
@tcard Please ask the user to try this branch and see if it helps: `pod 'Ably', :git => 'https://github.com/ably/ably-ios.git', :branch => 'fix-625'`. I turned off the additional log data for Sentry.

[2017-08-05 09:12] ricardopereira commented on #625
Enabling address sanitizer could also help us getting more information: https://developer.apple.com/documentation/code_diagnostics/address_sanitizer/enabling_the_address_sanitizer

The client should enable it and look something like ⬇️ in the log:

[code]

[2017-08-05 09:37] ricardopereira commented on #625
Nevermind. I reproduce it successfully 🙌

[2017-08-05 09:45] ricardopereira commented on #625
Code to reproduce the problem:

[code]

[2017-08-05 12:57] tcard commented on #625
@ricardopereira Hmm, I think that will put 10000000 messages in the "waiting for ACK" queue right away, but that's not a leak, that's expected. That's why I put a delay in my code between iterations,  to give some room for ACKs to arrive. The user said he was publishing at a 2 messages/sec rate. Are you sure that's not it?

[2017-08-05 13:16] ricardopereira commented on #625
I’ll check that but it makes sense what you said. Thanks.

On 5 August 2017 at 13:57:55, Toni Cárdenas (notifications@github.com)
wrote:

[2017-08-06 09:35] mattheworiordan commented on #625
FYI, customer stated in regards to the env:

[2017-08-07 23:30] ricardopereira commented on #625
@tcard You're right. It's not a leak.
I even tested it using the Leaks instruments and it's clean.
@mattheworiordan I have iOS 11 on my phone and it's working fine ¯\_(ツ)_/¯

[2017-08-08 09:52] mattheworiordan opened #627 "Objective-C tests review"
Our old tests were written in Obj-C and we use the new Swift tests for most of our test coverage now.  We should consider whether we can dispose of the old Obj-C tests completely or not by working out:

* [ ] How much of our coverage is provided by Obj-C tests
* [ ] How easy is it to simply get the Obj-C tests running
* [ ] How easy is it to port the test to Swift

[2017-08-08 10:15] tcard commented on #627
There are only four spec items covered only by Objective-C:

- RSC14a
  * https://github.com/ably/ably-ios/blob/96720f7c03fa60c75f69b1d0384648248be499b2/ably-iosTests/ARTRestInitTest.m#L48
- RSL2a
  * https://github.com/ably/ably-ios/blob/96720f7c03fa60c75f69b1d0384648248be499b2/ably-iosTests/ARTRestChannelHistoryTest.m#L198
  * https://github.com/ably/ably-ios/blob/c56fffd1f8e0b2cc7ca0209eaabc19c

[2017-08-10 10:13] mattheworiordan commented on #627
Thanks @tcard for reviewing this.

[2017-08-10 19:31] #604 closed

[2017-08-11 18:29] ricardopereira commented on #627
@mattheworiordan Will do. Should I then deactivate those legacy tests?

[2017-08-18 12:50] mattheworiordan commented on #627
Yes, I think so personally so that we have a passing CI again.  @ricardopereira think you'll have time to look at this?

[2017-08-19 14:09] Chris59160 opened #628 "ARTPushActivationState Crash when call ably.push.activate"
Hi guys,

I try to use push notification with Ably on iOS.

I have pulled : pod 'Ably', :git => 'https://github.com/ably/ably-ios.git', :branch => 'push'

I do

        let client:ARTRealtime = self.getAblyRealtime()
        client.push.activate()

on the second line, the app crashes straight away on:

2017-08-19 15:58:22.488 comedy_speed_dating[428:162997] *** Assertion failure in -[ARTPushActiva

[2017-08-21 08:14] ricardopereira commented on #627
Yes, maybe tomorrow or wednesday.

[2017-08-21 23:23] mattheworiordan commented on #627
Thanks @ricardopereira

[2017-08-23 17:19] tcard opened #630 "RTP11d (Presence.get when SUSPENDED) not implemented; throws on DISCONNECTED"
Plus, on connection DISCONNECTED, we [throw](https://github.com/ably/ably-ios/blob/master/Source/ARTRealtimePresence.m#L72), while we should follow [RTP16b](https://docs.ably.io/client-lib-development-guide/features/#RTP16b) (although that talks about presence _messages_, so we probably should clarify what happens with `get`).

[2017-08-23 17:38] tcard opened #631 "Presence map is accessible."
A customer reports he can access [RealtimeChannel.presenceMap](https://github.com/ably/ably-ios/blob/57f0e77f0388b8650b2ab2de2b6a3a0bda1d8591/Source/ARTRealtimeChannel%2BPrivate.h#L34). So it doesn't seem to be properly encapsulated.

[2017-08-23 18:18] tcard commented on #628
@Chris59160 I've just upgraded the push branch with a fix for this, plus lots of updates from the master branch. Can you confirm this isn't happening anymore?

[2017-08-25 10:55] #628 closed

[2017-08-25 10:58] tcard opened #632 "Full test coverage of push functionality before GA release"

[2017-09-04 09:05] #627 closed

[2017-09-04 09:28] tcard opened #633 "Push.activate callback not being called"
Conversation: https://app.intercom.io/a/apps/ua39m1ld/respond/inbox/conversation/11319871702

[2017-09-04 17:13] tcard opened #634 "Presence.enter on appWillEnterForeground, leave on appDidEnterBackground issues."
The channel state is attached...so not sure why the enter doesn't get registered

Conversation: https://app.intercom.io/a/apps/ua39m1ld/respond/inbox/conversation/11319871702

[2017-09-06 09:00] tcard commented on #633
Can't be reproduced, user refactored and now it works fine.

[2017-09-06 15:50] tcard commented on #634
Can't be reproduced, user refactored and now it works fine.

[2017-09-06 15:50] #634 closed

[2017-09-06 16:18] tcard commented on #602
This has been implemented in #620.

[2017-09-06 16:18] #602 closed

[2017-09-07 10:58] #633 closed

[2017-09-13 19:14] SimonWoolf opened #635 "Lib throws an exception if you try to do some actions when disconnected"
Customer [complaining](https://app.intercom.io/a/apps/ua39m1ld/respond/inbox/all/conversations/11770246159) that lib is throwing an exception sometimes. Exception seems to be one triggered by doing an operation in disconnected or failed state: `[ARTException raise:@"realtime cannot perform action in disconnected or failed state" format:@"state: %d", (int)self.realtime.connection.state_nosync];`.

[2017-09-13 20:47] jeraldAR commented on #635
To help out, heres what we got from Crashlytics.

`# Crashlytics - plaintext stacktrace downloaded by Jerald Freeman at Wed, 13 Sep 2017 20:44:02 GMT
# URL: https://fabric.io/analogrepublic2/ios/apps/com.ar.freestate/issues/59b87becbe077a4dcc885bf0/sessions/latest?build=64101707
# Organization: Analog Republic
# Platform: ios
# Application: Freestate
# Version: 1.0 (49)
# Bundle Identifier: com.ar

[2017-09-13 21:16] tcard commented on #635
This is a duplicate of #630.

[2017-09-13 21:16] #635 closed

[2017-09-13 21:20] jeraldAR commented on #635
@tcard ,

So is there a fix for this? Not sure why our ticket was closed when the duplicate doesn't really say what to do. Please let us know! Gracias!

[2017-09-13 21:23] tcard commented on #635
@jeraldAR Sorry, there's no fix yet (the other ticket would be closed if there was) but expect one very soon. I'll try my best to have it tomorrow. Gracias a ti por el reporte :)

[2017-09-13 21:25] jeraldAR commented on #635
@tcard, Gracias hermano. Keep us posted. Looking forward to the fix.

[2017-09-14 17:16] tcard commented on #635
@jeraldAR This is fixed now in #636. It still needs to be reviewed, merged and released, which will happen soonish.

[2017-09-15 11:23] #630 closed

[2017-09-15 11:38] tcard commented on #635
@jeraldAR I just released 1.0.9 with this fix.

[2017-09-15 17:13] jeraldAR commented on #635
@tcard,

Thank you so much. Im going to give it a try. Will let you know if everything is good 👍

[2017-09-21 03:34] riverbaymark opened #637 "Carthage Install Error"
Trying to install via Carthage attempts to pull an incorrect (earlier) version of SocketRocket.

Mark

[2017-09-23 15:01] levey commented on #637
I got the same issue.

[2017-10-11 18:56] tcard commented on #637
I'm looking into this, and even after upgrading the SocketRocket version it doesn't seem to work. It has some conflicts with CocoaPods, but I haven't been able to figure out how to fix them.

I'm afraid I'll have to deprioritize this, though, as they are other documented ways of installing Ably that work. I'll come back to this when I can.

[2017-10-11 20:51] mattheworiordan commented on #637
@tcard do we need to raise an issue upstream in SocketRocket?

[2017-10-12 09:31] tcard commented on #637
@mattheworiordan The problem is with us, not with SocketRocket. Carthage and CocoaPods have a conflict, I guess due to some misconfiguration on our side. Xcode configuration is extremely convoluted, though, so it's not obvious (to me) what to do and I haven't found anything relevant over the Internet.

[2017-10-13 07:35] mattheworiordan commented on #637
@ricardopereira can you help with this?

[2017-10-13 11:23] ricardopereira commented on #637
Sure, I'll take a look.

[2017-10-13 16:02] mattheworiordan commented on #637
Thanks @ricardopereira

[2017-10-18 11:49] SimonWoolf opened #638 "Implement RTN23a idle timeout"
Part of the 1.0 spec changes is [RTN23a](https://docs.ably.io/client-lib-development-guide/features/#RTN23a) . AFAICT this is not currently implemented in ably-ios, and I can't see any issues referring to `maxIdleInterval` or that spec item -- perhaps an oversight. In any case, this should to be done; ios and android devices can get into periods of dodgy network connectivity, and the idle timer is

[2017-10-19 20:02] ricardopereira commented on #637
@riverbaymark @levey Could you test it using the `carthage-support` branch, please?

Cartfile example:

[code]

[2017-10-20 16:42] liuzhen2008 opened #640 "Exception thrown when invoking [_channel unsubscribe]"
We sometimes experience an exception being thrown for [_channel unsubscribe];

The full stacktrace can be found below. This happens intermittently for us and we can't reliably reproduce the issue.

for now we just added try catch around [unsubscribe] hopefully it doesn't crash our users anymore.

[code]

[2017-10-23 03:38] mattheworiordan commented on #640
Sorry to hear this.  @tcard @ricardopereira would one of you please look at thsi?

[2017-10-23 07:22] ricardopereira commented on #640
@tcard Adding a mutex lock should be enough, right? https://github.com/ably/ably-ios/blob/master/Source/ARTEventEmitter.m#L234-L248

[2017-10-23 17:33] tcard commented on #640
@ricardopereira It is supposed to be in a mutex already. `unsubscribe` [dispatches its operation on `messagesEventEmitter` to the internal queue](https://github.com/ably/ably-ios/blob/master/Source/ARTRealtimeChannel.m#L410), and every operation on `messagesEventEmitter` should also be dispatched to that queue. But obviously some isn't.

So somewhere must exist a method call on `messagesEventEmitt

[2017-10-23 17:38] liuzhen2008 commented on #640
@tcard

This is my podfile.lock
[code]

We'll update the ably library as well.

[2017-10-25 09:22] tcard commented on #640
@liuzhen2008 That most likely will fix the issue, since we had widespread thread-safety bugs before 1.0.8. I'll tentatively mark this as closed, but please do open again if the issue persist. Thanks!

[2017-10-26 15:31] SimonWoolf opened #641 "Presence map is using clientId as its key, rather than memberKey"
The lib solemnly set a memberKey for presence messages... and then ignores it and just uses the clientId as the key in the presence map.

https://github.com/ably/ably-ios/blob/7d18a06e190e6bd1fef7b879a258af521d6fcabe/Source/ARTPresenceMap.m#L109 https://github.com/ably/ably-ios/blob/7d18a06e190e6bd1fef7b879a258af521d6fcabe/Source/ARTPresenceMap.m#L128

So presence behaviour for clients which share

[2017-10-26 15:50] SimonWoolf commented on #641
Also:

- could we please have a test which enters multiple clients on one connection, leaves one, etc. No such test currently or this wouldn't been caught
- and perhaps some more tests of presence syncing? current test coverage looks a little thin. See e.g. https://github.com/ably/ably-js/blob/master/spec/realtime/sync.test.js for inspiration
- It looks like presence.get doesn't currently support

[2017-10-27 06:35] mattheworiordan commented on #641
@ricardopereira would you mind looking at this ASAP as this sounds like a pretty major bug?  Also, any idea why the issue was closed?

[2017-10-29 22:28] mattheworiordan commented on #637
@riverbaymark @levey did this help?

[2017-10-29 22:37] riverbaymark commented on #637
Haven’t tried to reinstall with Carthage but will this week.

Thanks!

Mark Pruitt FNP, Co-CEO
Riverbay Softworks LLC
‭(415) 656-8617‬
www.riverbaysoftworks.com

[2017-10-30 20:22] riverbaymark commented on #637
Hi guys,

Looks like this did the trick!  I just added Ably to a new project via Carthage and everything built fine.

Thanks!

Mark

[2017-10-31 00:49] mattheworiordan commented on #637
@riverbaymark thanks for trying it out, that's great news.  @ricardopereira should we merge and do a release soon then?  When you do, please be sure to follow the release process as we now ensure all releases go into our [product-wide changelog](http://changelog.ably.io)

[2017-10-31 11:14] ricardopereira commented on #637
@riverbaymark Thanks!

Yes, I can merge it and do a release. @mattheworiordan Nice! Is that generated automatically?

[2017-10-31 16:11] liuzhen2008 commented on #640
@tcard We upgraded to ably 1.0.9

Podfile.lock as below:
[code]

Still getting a crash occasionally. Try/catch doesn't even catch this time.

[code]

[2017-10-31 17:05] mattheworiordan commented on #637
No, I take the markup from official releases at https://github.com/ably/ably-ios/releases and republish.

[2017-10-31 17:14] riverbaymark commented on #637
Hi guys,

Just a suggestion for the documentation.  Be sure an tell folks to also drag over the KSCrash, msgpack, and SocketRocket frameworks along with the Ably framework or they will get a nasty "no matching architecture in universal wrapper” error

Keep up the great work guys!  Your service is awesome!

Mark

[2017-11-02 09:14] ricardopereira commented on #637
Thanks for the suggestion.
Well, that's basically how Carthage works but it's always a nice thing to have. 👍

[2017-11-02 10:43] gouravgupta72 opened #643 "ARTMessage.data is not converting into Dictionary"
Hey folks,

Response in ARTMessage.data is coming as Any, when we try to convert it to Dictionary<String, Any> to get all payload information it is giving error.
 Can u help us in solving this.

if msg.data != nil {
            if let message = msg.data as! Dictionary <String, Any>
            {
               // Process message
            }
        }

[2017-11-02 11:18] tcard commented on #643
Hi @gouravgupta72 . What's the error?

[2017-11-02 11:32] gouravgupta72 commented on #643
When trying to direct cast it's crashing and when doing above check it is saying
"initializer of conditional binding must have optional type"

[2017-11-02 11:36] tcard commented on #643
Does casting to NSDictionary work? We use NSJSONSerialization and I'm not sure the resulting NSDictionary can be bridged to a Dictionary<String, Any>.

[2017-11-02 11:37] gouravgupta72 commented on #643
No casting not working,
What would be the solution for getting response in dictionary form ?

[2017-11-02 11:41] tcard commented on #643
OK, then it probably isn't being properly encoded as a JSON object. How are you publishing this? Can you share some code on the publishing end?

[2017-11-02 11:44] gouravgupta72 commented on #643
let messageForServer = ["intentName": "incoming_text",
                                "payload": [
                                            "text": message
                                            ],
                                "user": [
                                "type": "customer"
                                ]
        ] as [String : Any]

        self.channel?.publish(self.cl

[2017-11-02 13:12] tcard commented on #643
This works for me:

[code]

Prints as expected:

[code]

So I'm not sure what's going on with yours. Can you maybe print `String(describing: msg.data)` and `type(of: msg.data)`, see what it tells?

Can you confirm you're using the latest version of the library (1.0.9)?

[2017-11-03 11:00] #637 closed

[2017-11-03 11:39] tcard commented on #624
@andreiChis70 Can you confirm this is fixed? The thread-safe release was made a while ago. Sorry, should've updated this issue then.

[2017-11-03 11:39] #615 closed

[2017-11-03 11:45] tcard commented on #614
The screenshot:

<img width="1392" alt="screen shot 2017-06-09 at 16 36 56" src="https://user-images.githubusercontent.com/727422/32372289-8439f55e-c094-11e7-81a0-6cc3fed5dcbc.png">

[2017-11-03 11:49] tcard commented on #614
A test should be added that simulates this scenario and checks that it's handled properly. I think it's just calling the `attach` callback with the error and emitting a ChannelEvent; it doesn't need to move from INITIALIZED to DETACHED.

[2017-11-03 11:51] tcard commented on #41
This is done.

[2017-11-03 11:51] #41 closed

[2017-11-03 11:52] #108 closed

[2017-11-03 11:52] tcard commented on #108
This has been fixed.

[2017-11-03 11:53] tcard commented on #109
This is covered at length now.

[2017-11-03 11:53] #109 closed

[2017-11-03 11:54] tcard commented on #115
RSA10c is no longer in the spec.

[2017-11-03 11:54] #115 closed

[2017-11-03 11:56] tcard commented on #142
#278 fixes this.

[2017-11-03 11:56] #142 closed

[2017-11-03 12:01] tcard commented on #534
Sadly the train has left on this one.

Personally I don't think this is bad enough to grant a breaking change, even on a major release. I've mentioned before that the spec should allow fields to be implemented as 0-ary methods and vice versa, in accordance to the Uniform Access Principle.

[2017-11-03 12:01] #534 closed

[2017-11-03 13:05] mattheworiordan commented on #534
Agreed. 🚂

[2017-11-03 13:57] andreiChis70 commented on #624
@tcard Yes it is fixed. Thank you!

[2017-11-03 14:56] #624 closed

[2017-11-03 14:57] #553 closed

[2017-11-03 14:57] #557 closed

[2017-11-03 15:00] tcard commented on #564
This also didn't make it into 1.0 and it would be a breaking change to do that now.

[2017-11-03 15:02] tcard commented on #593
@escfrya Can you confirm this is still happening? We haven't had any other reports of this, and cannot reproduce ourselves.

[2017-11-03 15:03] tcard commented on #596
All done.

[2017-11-03 15:03] #596 closed

[2017-11-03 15:03] tcard commented on #601
Done.

[2017-11-03 15:03] #601 closed

[2017-11-03 15:05] #611 closed

[2017-11-03 15:09] escfrya commented on #593
@tcard sorry, but i doesn't use Ably anymore

[2017-11-03 17:37] mattheworiordan commented on #593
@escfrya sorry to hear that Igor.  Mind if I ask why?

[2017-11-04 00:02] escfrya commented on #593
@mattheworiordan i leaved project. The reason is not in Ably :)

[2017-11-04 09:19] mattheworiordan commented on #593
Ok, that's a shame, thanks for the response @escfrya

[2017-11-08 11:53] ricardopereira commented on #640
@liuzhen2008 Unfortunately, I can't reproduce the problem.

Does it happen in a production app? Could you tell us the app bundle identifier?
Are you using Ably in different queues?

[2017-11-08 15:22] liuzhen2008 commented on #640
@ricardopereira I am not sure with the "different queues" part.

Is there a specific queue that i have to use when subscribing/unsubscribing from Ably?

com.charly.charlyUser is our app identifier.

[2017-11-08 15:36] ricardopereira commented on #640
@liuzhen2008 Sorry. If you using the library in different threads?

Since we can't reproduce the problem, the only way we can debug this is by having the full stack trace of the exception. Do you have access to it and could you share it with us please?

[2017-11-08 15:50] liuzhen2008 commented on #640
@ricardopereira I have full stack trace here.

But go back to my question - would you say it is safer if i always run subscribe/unsubcribe in main queue?

[code]

[2017-11-09 16:03] ricardopereira commented on #640
@liuzhen2008 Thanks a lot!

We changed the library to be thread safe so, but we might be missing some use cases.

If you don't mind. Could you explain the `[BroadcastDisplayerViewController garbageCollectAbly]` method? Thanks.

[2017-11-09 16:11] liuzhen2008 commented on #640
@ricardopereira It was confusing naming on my part. It simply calls unsubscribe
[code]

[2017-11-09 21:06] tcard commented on #640
This is a tricky one. Basically, we try to ensure that all user code (calls to callbacks, mainly) runs in a different queue (the main queue, by default) than our internal queue, `io.ably.main`. So before each call to a callback we do a `dispatch_async` to the main queue.

But in this case, the call to the user code happens because ARC deallocates an object when we remove the messages listener from

[2017-11-09 21:44] tcard commented on #640
@ricardopereira Also, that dispatch inside removeListener might need to be an async one. I think  so.

That will break a few tests, I expect.

[2017-11-10 11:52] ricardopereira commented on #640
@tcard Yes, that makes sense. Thanks.

You say so because the user queue can be the main queue, right?

[2017-11-10 12:26] tcard commented on #640
@ricardopereira The user queue is the main queue by default. That ensures that user callbacks are run in the main thread, which is the only one that can do UI operations.

That's not the problem. The problem is that `dispatch_sync` can (and will, it able to) dispatch to the current thread, which can be the same thread the caller queue is running on. The only guarantee for a queue is that a dispatc

[2017-11-10 16:14] SimonWoolf opened #645 "Implement connection state freshness check"
Spec PR: https://github.com/ably/docs/pull/331/files

This is quite high priority; see https://github.com/ably/realtime/issues/1289#issuecomment-341152556 for why, or ask me or Matt in #client-libraries or slack

[2017-11-15 15:56] liuzhen2008 opened #649 "Occasionally getting "Attached timed out" when using [subscribeWithAttachCallback]"
As the title says,

I sometimes get an error returned saying "attach timed out" with [ARTErrorInfoStatusCode = 0].

So...

1. When does this occur? It looks random from our perspective

2. If it happens, what are the consequences in ignoring the error? Anything i need to do to recover form it?

[2017-11-15 16:44] tcard commented on #649
This happens when the client tries to attach to a channel (this is a previous internal step after which the client can publish/subscribe to messages on the channel) but never gets a response back from the server.

This should only happen when transient errors occur, such as networking errors.

The consequence is that the channel won't receive or send any messages. You probably want to call `channe

[2017-11-15 16:50] tcard commented on #649
Sorry, I just rechecked and what I said used to be right but it isn't anymore. You don't need to reattach manually; the channel will move to the SUSPENDED state, which will trigger a reattach attempt automatically. So in the end the error is just informative.

[2017-11-15 16:53] liuzhen2008 commented on #649
@tcard Cool. So I don't need to do anything!

[2017-11-15 16:53] #649 closed

[2017-11-15 17:08] liuzhen2008 opened #650 "How to deal with error "attempted to subscribe while channel is in Failed state""
We sometimes get this error when trying to attach to a channel.

"attempted to subscribe while channel is in Failed state"

In what kind of situation does this problem occur? It shows up in our crashlytics reports however we weren't able to reproduce the problem.

[2017-11-15 23:47] ricardopereira commented on #650
@liuzhen2008 Thanks for opening an issue.

That's an old lib behaviour that shouldn't with v1.0. If the channel is in the Failed state, the attach should remove the error and proceed with the attach operation. Right @tcard? I'm looking at [`RTL4g`](https://www.ably.io/documentation/client-lib-development-guide/features#RTL4g).

[2017-11-15 23:56] ricardopereira commented on #614
I created a test and seems to be working fine: https://github.com/ably/ably-ios/blob/16cfdaa1ba0b4452698cb67116df1cd39683b2b5/Spec/RealtimeClientChannel.swift#L3441-L3457

[2017-11-16 08:11] ricardopereira commented on #614
@SimonWoolf @tcard Am I missing something? Thanks.

[2017-11-16 11:05] tcard commented on #650
@ricardopereira That's about attach, not subscribe. On subscribe, we have [this](https://github.com/ably/ably-ios/blob/2027ee3690f5fa2af3c1f629d8471934d6e79348/Source/ARTRealtimeChannel.m#L369), which we shouldn't have since there's no spec item requiring it.

I think the spec should be updated, since [RTL7](https://docs.ably.io/client-lib-development-guide/features/#RTL7) is not really exhaustive

[2017-11-16 12:20] tcard opened #652 "Clean CI build"
We've accreted a [pretty broken test suite](https://travis-ci.org/ably/ably-ios/builds/302897096):

[code]

We should make sure all tests pass consistently.

[2017-11-16 12:50] tcard commented on #614
@ricardopereira This was before the thread-safety stuff and everything, so maybe it's fixed. Nothing we can do anyway.

[2017-11-16 12:50] #614 closed

[2017-11-16 14:46] #631 closed

[2017-11-16 14:57] #641 closed

[2017-11-16 15:01] ricardopereira commented on #580
This issue has been closed due inactivity.

[2017-11-16 15:01] #580 closed

[2017-11-16 17:29] #640 closed

[2017-11-16 21:07] liuzhen2008 commented on #650
So.. is there something I could do in the mean time so that it doesn't go to a "failed" state?

Or am i waiting for an update..

Or are you guys saying this will not happen with v1.0.9

[2017-11-16 22:31] mattheworiordan commented on #650
@tcard why does it need to do anything?  The spec clearly states an implicit attach ONLY happens when in the Initialized state.  So is the iOS lib trying to attach when already attaching?  If so, why is that a problem.  It's valid to call attach when attaching without expecting a failure.

@ricardopereira can you shed any light on this?

[2017-11-17 09:33] ricardopereira commented on #650
Initially I thought it was something that we missed when we updated the lib to v1.0 but it's not. `RTL4g` or `RTL7c` didn't suffered any change from v0.8 to v1.0.

BTW, this error only happens when an `subscribeWithAttachCallback:` is being called:

https://github.com/ably/ably-ios/blob/3efd759737b4867bae8d82fbfe7fb7785cc622fd/Source/ARTRealtimePresence.m#L383-L386

So, I agree with @mattheworiord

[2017-11-17 10:42] tcard commented on #650
OK, never mind then. @ricardopereira I guess we should do what the spec says and only that, ie. check that the current state is INITIALIZED and only attach if it is. And of course do nothing special if FAILED, add the subscription and that's it.

[2017-11-17 12:05] tcard commented on #650
@liuzhen2008 Sorry, we didn't really answer you. The FAILED state means that there's a bug somewhere, and it's irrecoverable; the only thing you can do is to connect again. From [our docs](https://www.ably.io/documentation/realtime/connection#connection-states):

You should get insight into why it's happening by [listening to `.failed` connection state changes](https://www.ably.io/documentation/re

[2017-11-20 10:18] gouravgupta72 opened #653 "Not getting message when app is in Background"
Hey Folks,

When i'm running app on simulator it's working fine, but on real device messages are not getting received when app is in background mode.

Can u help.

Thanks

[2017-11-20 11:21] ricardopereira commented on #653
Hello @gouravgupta72

It will happen in the simulator too if the app gets suspended. That's basically how iOS works. When an app enters background mode, it will suspend any network activity. It's a way to improve battery life. You can improve it using background fetch feature or just by sending silent notifications. Please have a look at the [App Programming Guide for iOS](https://developer.apple.

[2017-11-23 04:19] gouravgupta72 commented on #653
I try to use background fetch still it's not working for me.
Any other help guys ?

[2017-11-23 10:00] tcard commented on #653
@gouravgupta72 You can use [push notifications](https://www.ably.io/documentation/realtime/push), which were designed specifically for this.

Please open a new issue if you have a specific problem with our iOS library. For general Ably questions, please refer to https://support.ably.io/support/home.

[2017-11-23 10:00] #653 closed

[2017-11-24 16:47] tcard opened #654 "Deadlock in [rest device] when called from activation state machine"
A customer has reported a crash due to this. The call stack shows that `[rest device]` was called from the state machine while already holding the lock. We need to ensure this doesn't happen; we probably need a `[rest device_nosync]` method like the others we have around, and use that from the activation machine, and put an `dispatch_async` on entry points of the state machine.

[2017-11-24 17:00] tcard commented on #654
Here's a screenshot of the crash:

<img width="1440" alt="screen shot 2017-11-24 at 10 23 32" src="https://user-images.githubusercontent.com/727422/33219198-53dbe738-d141-11e7-8130-2e2679780fae.png">

[2017-11-27 18:01] itolisto commented on #654
Hello @tcard and @ricardopereira

If I can help you, please let me know, I would gladly collaborate to solve this issue.

[2017-11-29 22:09] shoaibahmedqureshi opened #655 "Ably ios client closes connection 'WS:0x6000000befc0 websocket did disconnect (code 1000) (null)'"
Hi ,
I am new to ably and running into an issue while receiving messages . It works fine initially and recieves messages as per normal but after receiving too many messages at some point socket gets disconnected and logs this message 'WS:0x6000000befc0 websocket did disconnect (code 1000) (null)'  and then it no longer receives any message . something that is interesting is that 'ablyRealtime!.con

[2017-11-30 07:54] tcard commented on #640
@liuzhen2008 I just realized we didn't get back to you on this; sorry for that. This should have been fixed by a7b67c666cad66de93baab19b48d82c862f72d89. We're going to do a release soon including that and other fixes.

[2017-11-30 16:22] johnpeb opened #657 "Rarely no incoming messages and no errors"
In our app, in one instance a user has reported that new messages don't show up, etc. Based on the various symptoms and logs it appears that ably messages are not coming in but the device is otherwise able to access the internet. The problem persisted (at least in one instance) if the app is restarted. Our error logging is ignoring subscribe timeouts (ref https://github.com/ably/ably-ios/issues/64

[2017-12-01 10:59] #655 closed

[2017-12-01 11:01] tcard commented on #655
@shoaibahmedqureshi Hi. Can you confirm commit f5fc0531912049bdadecc451b3b8429290880cf3 fixes it? Please reopen the issue if it doesn't.

[2017-12-01 17:14] shoaibahmedqureshi commented on #655
@tcard Is this committed reflected when i install using cocoa pods using line "pod 'Ably', '~> 1.0' " in pod file as iI reinstalled it using cocoa and checked it the issue is still reproducing for me and is not fixed.

[2017-12-01 17:18] tcard commented on #655
@shoaibahmedqureshi No, sorry, you have to do something like:

[code]

[2017-12-01 17:19] tcard commented on #655
Once we confirm it's fixed we can do a release, and then `~> 1.0` will work. Thanks for your help!

[2017-12-02 00:30] shoaibahmedqureshi commented on #655
I am still facing it despite above mentioned commit. please refer to logs.

myTrackee[22130:941155] DEBUG: (ARTRealtimeChannel.m:550) R:0x604000188f00 C:0x600000188610 received channel message 15 - Message
2017-12-02 05:21:42.807297+0500 myTrackee[22130:941155] DEBUG: (ARTWebSocketTransport.m:256) R:0x604000188f00 WS:0x60401babc020 websocket did disconnect (code 1000) (null)
2017-12-02 05:21:42.82

[2017-12-05 17:21] johnpeb commented on #657
For the record re #1: no, state isn't persisted across app launches. The issue is probably not on ably side. Closing.

[2017-12-05 17:21] #657 closed

[2017-12-06 08:35] marvin-yorke commented on #655
Hi folks. FYI, we also experience the same problem. Going to try to build with provided commit and verify

[2017-12-06 11:55] marvin-yorke commented on #655
ok @tcard, we have tested your solution and it seems to work. Thanks! Here's the log

[code]

@shoaibahmedqureshi could you please double-check that you are indeed using the correct commit to build against? I mean just open the `ARTWebSocketTransport.m` file in your Pods directory and check whether it contains the changes from `f5fc053`

[2017-12-06 18:27] tcard commented on #655
Thanks @marvin-yorke.

But according to the latest logs provided by @shoaibahmedqureshi, she/he now seems to be having a separate issue. The connection moves to the `Disconnected` state as expected, which should then trigger a reconnection (ie. move to `Connecting`) but instead some channels move to the `Failed` state.

@shoaibahmedqureshi Could you log what's the error causing the transition to `

[2017-12-08 09:46] SimonWoolf opened #659 "Log from ably-ios client in an inconsistent state"
See https://support.ably.io/helpdesk/attachments/3033171398 (@ricardopereira if you don't have access to that, let me know and I'll send it to you).

So as far as I can tell: the lib must be in the connected state as that's the only state in which an attach will reach the `ARTRealtime sending action 10 - Attach` stage. However, there's no response from Ably -- and more tellingly, no `ARTRealtime h

[2017-12-08 10:04] itolisto commented on #654
Hello @tcard and @ricardopereira,

Just wondering if you have been able to take a look on this? And again, if there's anything I can do, I'll be happy to do it.

[2017-12-08 10:11] ricardopereira commented on #654
@itolisto Not yet, sorry. But I'll look at it today. You're using the `push` branch, right?

[2017-12-08 12:07] ricardopereira commented on #659
It makes sense to me. The `attach` checks if the [connection is active](https://github.com/ably/ably-ios/blob/b18503c87ab79f4d83bc2fa5da0681758b4ee4fe/Source/ARTRealtimeChannel.m#L862-L866) but for some reason it could  be in a bad state (maybe because of [this flag](https://github.com/ably/ably-ios/blob/b18503c87ab79f4d83bc2fa5da0681758b4ee4fe/Source/ARTRealtime.m#L879)).

Lets tackle #638 for no

[2017-12-08 12:17] itolisto commented on #654
@ricardopereira Yes, I’m using the push branch.

[2017-12-08 14:09] marvin-yorke commented on #655
@tcard quick update: I've tried turning off message queueing (for reason different than the current topic), while using provided fix. And now I see the same problem as @shoaibahmedqureshi. Channels move to `failed` state even though network condition is perfect. Connection moves to `disconnected`, then to `connected` again, but `failed` channels cannot be restored automatically. If message queue i

[2017-12-08 15:58] johnpeb commented on #659
Hi @ricardopereira, could you provide an estimate when #638 may be implemented and released? This issue has affected several of our most active users (even though it's very difficult to reproduce locally). Thanks!

[2017-12-08 21:00] ricardopereira commented on #659
@johnpeb I'll try to release a version tomorrow. I'll let you know when #638 is out. Thank you.

[2017-12-08 22:39] johnpeb commented on #659
@ricardopereira  great to hear! Thanks!

[2017-12-09 10:42] ricardopereira commented on #659
Idle timeout has been implemented in #660.

[2017-12-12 11:57] paddybyers opened #661 "Push activation fails if already registered"
See the attached logs. This is a device that is already activated and registered, but then fails activation.

[verbose.txt](https://github.com/ably/ably-ios/files/1551458/verbose.txt)

The state machine should detect that the device is already registered, and should no attempt to re-register.

@ricardopereira are you able to take a look please?

[2017-12-12 14:43] ricardopereira commented on #661
Yes, I'll look at it.

[2017-12-13 02:57] itolisto commented on #654
Hi @ricardopereira,

Just checking again if you have had the chance to take a look on this. Sorry if I'm being annoying (: And again, if I can help please tell me. 👍

[2017-12-13 08:30] ricardopereira commented on #654
@itolisto Sorry. I had to deal with an other issue the other day. I'll reach you later today to test this out please 😊

[2017-12-13 08:34] ricardopereira commented on #659
@johnpeb Sorry for the late reply. We did a couple of changes and I just want to run a few more tests before releasing a version. I'll let you know when it's done. Thank you.

[2017-12-13 08:44] ricardopereira commented on #661
The app reaches the `ARTPushActivationEventGotPushDeviceDetails` state but it's not handled because a crash occurs: `UI API called on a background thread: -[UIApplication delegate]
PID: 2595, TID: 1308688, Thread name: (none), Queue name: io.ably.main, QoS: 0`.

[code]

[2017-12-13 10:12] paddybyers commented on #661
OK, so what's the issue with that - is it application code that's attempting a UI update in a context that can't do that? Or is it something we're doing on our side?

[2017-12-13 10:34] ricardopereira commented on #661
@paddybyers I think this has been [fixed](https://github.com/ably/ably-ios/blame/ce05f0811fbfe10d907f4992d93bb17ae6a24d47/Source/ARTPushActivationStateMachine.m#L115). Can you ask if the client is using a custom register? I mean, If the client has the delegate `ablyPushCustomRegister:deviceDetails:callback:` method implemented? And if the code is updated (get the latest version by running `pod upd

[2017-12-13 10:43] ricardopereira commented on #661
Another thing I noticed is this **400** ("_device with ID 0001D2XER600GW0X476W5TVBFE already registered_") from `POST https://rest.ably.io:443/push/deviceRegistrations`:

[code]

So, I think it should do a `PUT` instead of a `POST` to [update a device registration](https://www.ably.io/documentation/rest-api#update-device-registration).

[2017-12-13 11:18] paddybyers commented on #661
Yes - we've discussed this and we're going to be making changes to the API so both `POST` and `PUT` are supported, and both have upsert semantics.

[2017-12-13 11:30] #650 closed

[2017-12-13 11:38] ricardopereira commented on #654
I reproduced it successfully:

![screen shot 2017-12-13 at 11 27 53](https://user-images.githubusercontent.com/3541185/33937068-e0ec3c60-dff9-11e7-83ed-5eef559c92d5.png)

Basically, I'm calling `activate()` in a `deactivate` event.

[2017-12-13 11:38] ricardopereira commented on #654
A test should be added with this issue at #662

[2017-12-13 12:05] ricardopereira commented on #654
@itolisto Can you test the fix using the `push-fix-654` branch please? Thanks 👍

[2017-12-13 12:10] ricardopereira commented on #661
@paddybyers Sorry, I'm confused. Should I change the code to use `PUT` instead of `POST` or the API will be updated soon to insert a device if it doesn't already exist or update it if it do?

[2017-12-13 12:11] paddybyers commented on #661
That commit was 3 months ago but I understand he's using the latest on the `push` branch

[2017-12-13 12:14] paddybyers commented on #661
I'll raise a separate issue here with the changes we need, once we have them implemented in realtime.

[2017-12-13 12:27] avi-kik commented on #661
That backtrace is emitted by Xcode 9(.2), for any `UIKit` method called on a background thread, unless that method has been annotated to be thread safe.  I don't know why it triggers on `- [UIApplication delegate]`, but it does.

I am using the HEAD of the push branch.

[2017-12-13 12:28] avi-kik commented on #661
I have not implemented the method `ablyPushCustomRegister:deviceDetails:callback:`.

[2017-12-13 15:46] itolisto commented on #654
@ricardopereira Testing this right now.

[2017-12-13 15:51] ricardopereira commented on #661
@avi-kik Thanks for your information. I can't reproduce this issue. Could you give me some hint on how to reproduce it? Or any sample project that I can use please?

[2017-12-13 16:27] itolisto commented on #654
@ricardopereira I can't reproduce the issue anymore, I believe this is fixed. 👍

Thank you for your help

[2017-12-13 16:45] ricardopereira commented on #654
Good to hear! Thank you

[2017-12-13 16:45] #654 closed

[2017-12-13 20:04] avi-kik commented on #661
@ricardopereira, I sent you an invite to gain read access to my app's repository.  You'll want the `apn` branch.

[2017-12-18 09:21] mezis commented on #661
FWIW, I'm also getting `Main Thread Checker: UI API called on a background thread` when `push.activate` is first called, right when the notifications popup appears. Looks like it's just a warning as (at least when running locally) I can still send direct-publish notifications find after it occurs.

[2017-12-18 10:50] ricardopereira commented on #661
@mezis At what point do you call the [`UNUserNotificationCenter.current.requestAuthorization:`](https://developer.apple.com/documentation/usernotifications/unusernotificationcenter/1649527-requestauthorization) to interact with the remote notifications?

[2017-12-18 11:20] ricardopereira commented on #661
Can't reproduce none of those issues 😕 ([400 issue](https://github.com/ably/ably-ios/issues/661#issuecomment-351353712) and [UI thread checker](https://github.com/ably/ably-ios/issues/661#issuecomment-351322800)).

[2017-12-19 08:39] mezis commented on #661
@ricardopereira: looks like this. Happy to send you the full "demo" app if that's useful as I barely know what I'm doing here.

[code]

[2017-12-19 08:48] ricardopereira commented on #659
The CI is still failing but I think it's almost done. Still some tests failing but I'm optimistic that tomorrow I can fix them all and release a version. Sorry for the waiting.

[2017-12-21 04:47] gouravgupta72 opened #664 "Presence enter error coming"
Hi Folks,

When i'm calling enter presence then it is giving an error

presence.enter(nil) { error in
                guard error == nil else {
                    self.signalError(error!)
                    return
                }
            }

ARTErrorInfo with code 13, message: attempted to publish presence message without clientId, reason: (null)

[2017-12-21 19:21] johnpeb commented on #659
Great. We're looking forward to this release.

[2017-12-22 00:16] ricardopereira commented on #664
Hello @gouravgupta72. You need to provide a `cliendId`.

[2017-12-22 00:16] #664 closed

[2017-12-22 00:54] #652 closed

[2017-12-22 00:54] #638 closed

[2017-12-22 01:32] ricardopereira commented on #659
[v1.0.10](https://github.com/ably/ably-ios/releases/tag/1.0.10) has been released.

Thank you for your patience!

[2017-12-22 01:33] #659 closed

[2017-12-22 14:27] johnpeb commented on #659
Thanks!

[2018-01-04 12:06] ricardopereira commented on #661
Sorry for the late reply.

@mezis Thanks, I used your snippet and and works fine:

**First time I run the app:**
[code]

**Second time I run the app:**
[code]

Could you send me a full demo app, please?

[2018-01-04 12:18] ricardopereira commented on #661
@mezis Ignore my last comment 😅 I was using Xcode 8.

Now, it's happening:

[code]

Thanks again!

[2018-01-04 15:57] ricardopereira commented on #661
@avi-kik The [400 issue](https://github.com/ably/ably-ios/issues/661#issuecomment-351353712) still happens?

[2018-01-04 15:59] ricardopereira commented on #661
I'll close this because I can't reproduce it. Please open this issue again if it still happens.

[2018-01-04 15:59] #661 closed

[2018-01-11 00:03] mattheworiordan opened #667 "Crash investigation"
@funkyboy @ricardopereira one of our important customers has reported a problem and provided this stack trace.  I've not looked into this, please could you offer your advice tomorrow.

[code]

[2018-01-11 20:53] ricardopereira commented on #667
Honestly, it doesn't seem to be an issue on our side. @funkyboy WDYT?

From the stack trace, it has crashed the Main thread `com.apple.main-thread`. Not our internal one, `io.ably.main`. Even so, the crash seems to be related with the WebKit framework. Maybe because of a WebView in the app?

[2018-01-11 20:53] ricardopereira commented on #667
Actually, from what I searched (https://forums.developer.apple.com/thread/53330), that error could have been triggered by the use of `NSAttributedString.initWithData`, which uses the WebKit under the hood to interpret HTML.

[2018-01-12 10:19] funkyboy commented on #667
@ricardopereira that's one possibility.
Another is that the crash happens in the Sentry library. That would also explain why we don't see a related entry in our Sentry dashboard.
I asked the customer some more questions about their setup, so we can investigate better this issue.

[2018-01-12 11:14] paddybyers commented on #667
Yes, but the concerning thing is that the stack trace for Thread #5 shows that the Ably thread failed to parse a received message and was in the process of sending the message to Sentry when the main thread crashed. It's unlikely to be a coincidence; so some issue probably caused the decode failure and the main thread crash. That might be nothing to do with us - ie some other code overwrote some m

[2018-01-12 14:04] funkyboy opened #668 "Update tests to Swift 4"
- [x] Update project to Xcode 9.2
- [x] Update Quick version
- [x] Update Nimble version
- [ ] Try to ditch `SwiftyJSON` in favor of Swift's built in parser

[2018-01-17 22:52] ricardopereira opened #669 "Push test is failing but it was passing (no code has been changed)"
https://github.com/ably/ably-ios/blob/b9c0951b982399003935f3c9d89dc87343776894/Spec/PushAdmin.swift#L216-L241

I chatted with @paddybyers about this issue.
I updated the code
`realtime.push.admin.publish(["ablyChannel": channel.name], data: ["data": ["foo": "bar"]])`

to

`realtime.push.admin.publish(["transportType": "ablyChannel", "channel": channel.name, "ablyKey": options.key, "ablyUrl": optio

[2018-01-17 23:01] paddybyers commented on #669
@mezis can you help with this pls?

[2018-01-18 23:55] shoaibahmedqureshi opened #670 "Channels Failing After Some times and do not resubscribe"
I am running into an strange issue where after disconnection my channels start failing and even after re-subscription i am unable to subscribe they either fail or or do not return any thing and the reason for those channels to fail in the logs is also nil.

My Configurations are .....
    private func setClientOptions(token: String?) {
          if token != nil {
              options = ARTClientO

[2018-01-19 08:32] paddybyers commented on #670
@funkyboy a few comments on the code snippets above and log:

- on every state change it prints `print("channel \(channel.name) is now attached")` - irrespective of the channel state. You need to check the other lines to see what's actually happening;

- if the channel enters the `failed` state, it does:

[code]

I suspect that that might be just adding the listener again to the channel, and not t

[2018-01-19 09:32] shoaibahmedqureshi commented on #670
I call reconnect method when i receive no messages and channels are failing so I have a button which calls reconnect ably explicitly on its click.

[2018-01-19 10:23] paddybyers commented on #670
@shoaibahmedqureshi so I think your code:

[code]

should be doing a `channel.attach()` instead of a `client.subscribe()`. I'd also like to see a `DDLogInfo()` added so we can see if that's actually happening (ie after the `shouldRetry()` check).

[2018-01-19 23:02] shoaibahmedqureshi commented on #670
After should try i added a DDLlogInfo and it is printing you can see that a new log file . I think the problem which randomly occurs is initially a channel attached and then it is detached with reason(null) . why is it detached ? then resubscription fails so the problem seems to have two parts.

             case .failed?:
                DDLogInfo("Channel - Failed")
                DDLogInfo("ch

[2018-01-22 08:36] funkyboy commented on #670
@shoaibahmedqureshi as a side note:
I see you are using version `1.0.9` of the SDK. Does this happen also on `1.0.10`, our latest stable version?

[2018-01-22 10:25] mezis commented on #669
@ricardopereira, @paddybyers — assuming you've been running tests against `sandbox`, I never got tests to pass against that. I don't even know if `sandbox` is serviced by queue workers.
All my testing has been against a local farm , and running the `queue-workers` branch of `realtime`.

@mattheworiordan, how can we get an environment that runs the appropriate branch of `realtime` including queue w

[2018-01-23 22:22] shoaibahmedqureshi commented on #670
paddybyers Thanks alot for your response it was that same issue you pointed  I was not attaching the channels . apologies for my previous comment I could read your response completely initially . @funkyboy  I cannot use the latest version as https://github.com/ably/ably-ios/commit/f5fc0531912049bdadecc451b3b8429290880cf3 is not merged to 1.0 yet.

[2018-01-23 22:29] funkyboy commented on #670
@paddybyers ^ FYI

[2018-01-25 16:34] shoaibahmedqureshi commented on #635
@tcard Is it merged yet into master?  as I am also experiencing this crash issue and I am using this specific commit pod 'Ably', :git => 'https://github.com/ably/ably-ios.git', :commit => 'f5fc0531912049bdadecc451b3b8429290880cf3' as it is not merged either . Any idea how can I have both of these fixes together even if they are not merged yet ?

[2018-01-25 17:49] funkyboy commented on #635
@shoaibahmedqureshi that commit has been merged into master and is part of 1.0.10

[2018-01-25 19:40] shoaibahmedqureshi commented on #635
@funkyboy thanks alot for your response . please also mention if this particular issue #635 is also a part of it 1.0.10 ?

[2018-01-25 21:32] shoaibahmedqureshi opened #673 "UI stuck at unsubscribe or calling subscribe when connection disconnected"
I am experiencing a crashing issue using pod version 'Ably', '1.0.10' .  I have seen a couple of crashing issue fixes and I am not sure if it's fix is a part of  the new release or not and because of this crash UI gets hanged often and does not respond. Below is the stack trace for the crash for further clearance.

Thread says something like below:
KSCrashAblyFork`monitorCachedData(userData=0x0000

[2018-01-25 22:07] shoaibahmedqureshi commented on #673
I currently tested it on ios 11

[2018-01-25 22:15] funkyboy commented on #635
@shoaibahmedqureshi Yes, also this (and related fix) is included in 1.0.10

[2018-01-25 22:19] funkyboy commented on #673
Are you by chance adding an observer to `NSNotificationCenter` in any of your code? If yes, are you removing it in `dealloc` or (if it's a ViewController) in `viewWillDisappear`?

[2018-01-25 22:40] shoaibahmedqureshi commented on #673
I am using NSNotificationCenter on main screen and i am not removing it in viewWillDisappear as if someone subscribe on other screens I want that update to be reflected there.

[2018-01-25 22:42] shoaibahmedqureshi commented on #673
Btw I just added removeObserver statement in my viewWillDisappear method.
   override func viewWillDisappear(_ animated: Bool) {
        super.viewWillDisappear(animated)
        client.isMapView = false
        self.navigationController?.navigationBar.isHidden = false
        NotificationCenter.default.removeObserver(self)
    }
I am still able to reproduce this issue.

[2018-01-26 08:25] funkyboy commented on #673
@shoaibahmedqureshi It looks like the issue is triggered from here: https://github.com/ably/ably-ios/blob/f87bb50176b89ac8a92318bf4fe03094ea28a6b0/Source/ARTConnection.m#L84 when you (or indirectly the code you wrote) asks for the value of `state`. According to the crash log, that is performed on a background queue. Correct?
Also, are you accessing the `state` value on line 17 of `AppDelegate.swif

[2018-01-26 10:16] shoaibahmedqureshi commented on #673
yes i am performing ably operations on background thread and before every call i try to check the ably connection status and yes crash occurs somewhere around this. no i am not accessing ably in AppDelegate my app delegate looks something like

    class AppDelegate: UIResponder, UIApplicationDelegate {

    var window: UIWindow?

    func application(_ application: UIApplication, didFinishLaunchi

[2018-01-30 08:13] mattheworiordan opened #674 "Uncaught Exception: '-[__NSCFURLSessionConnection performDefaultHandlingForAuthenticationChallenge:]: unrecognized selector"
Reported crash on device:

# SDK version: 1.0.5
# OS Version: 11.2.2 (15C202)
# Device: iPhone X

[code]

Crash report is at https://app.intercom.io/a/apps/ua39m1ld/respond/inbox/conversation/14348764648

Possibly related: https://stackoverflow.com/questions/27604052/nsurlsessiontask-authentication-challenge-completionhandler-and-nsurlauthenticat

Question: Is this crash happening during reporting

[2018-01-30 18:08] funkyboy commented on #673
@shoaibahmedqureshi Update as per our calls:

- This is NOT a crash, it's the UI hanging
- UI hangs after the following happens:
  - Start the app and subscribe to 9-10 channels
  - Go back to the map and see icons (which are displayed according to the messages received)
  - tap refresh on the map, which does the following:
    - unsubscribe from all channels, all at once
    - don't wait for "I a

[2018-01-30 18:12] funkyboy commented on #674
UPDATE: waiting for customer to confirm that this happens also on `1.0.10`

[2018-01-30 18:13] funkyboy commented on #670
@shoaibahmedqureshi closing this. Feel free to reopen if needed.

[2018-01-30 18:13] #670 closed

[2018-01-30 18:14] funkyboy commented on #668
Related PR https://github.com/ably/ably-ios/pull/671

[2018-01-30 18:51] ricardopereira commented on #674
This has been fixed in the `push` branch, see: https://github.com/ably/ably-ios/blob/b9c0951b982399003935f3c9d89dc87343776894/Source/ARTURLSessionServerTrust.m#L45

The commit with that change is https://github.com/ably/ably-ios/pull/642/commits/28134c2f081be1555cccb5f5fe3b1a968a77b23c

[2018-01-30 18:54] ricardopereira commented on #674
@funkyboy Should we fix it on `master` as well and do a patch release?

[2018-01-30 18:59] ricardopereira commented on #673
@funkyboy So, you suspect it's a deadlock? When it hangs, do you saw any `_dispatch_sync_wait` that doesn't unlocks?

[2018-01-30 20:09] funkyboy commented on #674
@ricardopereira yes please. Make a PR just with that change, so we can make a patch release.

[2018-01-30 20:14] funkyboy commented on #673
@shoaibahmedqureshi in the meantime, see the question above.

[2018-01-31 10:41] funkyboy commented on #668
Postponing migration to builtin JSON lib. Not urgent.

[2018-01-31 10:41] #668 closed

[2018-01-31 10:43] funkyboy commented on #667
Customer reported that this is not happening anymore.
Can’t retrieve the Intercom link tho. Grrrrrr.

[2018-01-31 10:43] #667 closed

[2018-01-31 10:44] funkyboy opened #675 "Run Travis tests on iOS 9, 10 and 11"

[2018-01-31 11:32] ricardopereira commented on #674
@funkyboy Done ^

[2018-01-31 13:44] funkyboy commented on #674
Fixed in https://github.com/ably/ably-ios/pull/676

[2018-01-31 13:44] #674 closed

[2018-01-31 13:45] funkyboy commented on #579
@SimonWoolf @mattheworiordan do you think we can close this?

[2018-01-31 13:46] funkyboy commented on #576
@SimonWoolf Is this still happening?

[2018-01-31 13:48] funkyboy commented on #643
@gouravgupta72 closing this. Feel free to reopen if it's still an issue.
FYI, current version of the SDK is now `1.0.10`.

[2018-01-31 13:48] #643 closed

[2018-01-31 14:04] mattheworiordan commented on #579
Sure, close it given the customer has not responded and we have no reason to believe it does not work

[2018-01-31 14:05] SimonWoolf commented on #576
@funkyboy I don't have a mac so can't verify directly, but the [code in question](https://github.com/ably/ably-ios/blob/master/Source/ARTTokenParams.m#L31) doesn't appear to have been changed since I submitted this issue, so I assume it is still happening.

It's not that big a problem since we rewrote capability intersection in realtime to be commutative. But it is still wrong per the spec -- http

[2018-01-31 14:19] #579 closed

[2018-01-31 14:25] funkyboy commented on #645
@SimonWoolf This looks like it's been "fixed" here: https://github.com/ably/ably-ios/pull/660
Can I close?

[2018-01-31 14:34] SimonWoolf commented on #645
No, that pr didn't implement RTN15g, which is what this issue is about. See comment https://github.com/ably/ably-ios/pull/660#issuecomment-350664088 for more context.

[2018-01-31 14:34] funkyboy commented on #607
@mattheworiordan I think this has been addressed [here](https://github.com/ably/ably-ios/pull/620). Right?

[2018-01-31 14:36] funkyboy opened #677 "Remove authorise"
V1 is out and this is already been [tagged as deprecated](https://github.com/ably/ably-ios/blob/2027ee3690f5fa2af3c1f629d8471934d6e79348/Source/ARTAuth.h#L48).
I think we can remove it in the next version. Agree? @ricardopereira

[2018-01-31 14:38] ricardopereira commented on #677
@funkyboy Agree. Thanks.

[2018-01-31 16:53] funkyboy opened #680 "Address warnings in KSCrash fork"
https://github.com/ably-forks/KSCrash

[2018-01-31 22:14] shoaibahmedqureshi commented on #673
@ricardopereira during the debugging process we explored the code and in my code most of calls I had were asynchronous except a couple of serial ques I was using before marker drawing to avoid race condition so we commented them out to find out if they are the real culprit but issue was reproducible without them too.

[2018-02-01 07:50] funkyboy commented on #677
Fixed in #679

[2018-02-01 07:50] #677 closed

[2018-02-01 09:27] #632 closed

[2018-02-01 09:28] ricardopereira commented on #632
#582 as tests implemented.

[2018-02-01 16:37] mattheworiordan commented on #607
@funkyboy to be honest I don't know without reading all the work done in https://github.com/ably/ably-ios/pull/620.  If you think it's addressed, then do close this.

[2018-02-01 18:13] funkyboy commented on #673
@shoaibahmedqureshi will build a sample project tomorrow, trying to replicate this.
Will post the link here when ready.

[2018-02-02 15:54] funkyboy commented on #673
@shoaibahmedqureshi [Here](https://github.com/funkyboy/AblyTest) is my sample project, but I couldn't manage to make the UI hang. Feel free to fork and tweak.

[2018-02-05 15:13] funkyboy commented on #675
Closed in https://github.com/ably/ably-ios/pull/681

[2018-02-05 15:13] #675 closed

[2018-02-05 15:13] funkyboy opened #685 "Investigate iOS8 usage"
How many customers are still using our SDK with iOS8?

User-Agent strings:

- iOS 8.4 `CFNetwork/711.4.6 Darwin/14.0.0`
- iOS 8.3 `CFNetwork/711.3.18 Darwin/14.0.0`
- iOS 8.2 `CFNetwork/711.2.23 Darwin/14.0.0`

For reference: iOS 11.2.5 `CFNetwork/894 Darwin/17.4.0`

[2018-02-05 17:05] funkyboy commented on #625
Closing this as we cannot reproduce.

[2018-02-05 17:05] #625 closed

[2018-02-06 10:57] ricardopereira commented on #685
@funkyboy Why not using different jobs for each iOS version? That way it's easier for me to see which version is failing and the log could remain clean.

![hnmfd](https://user-images.githubusercontent.com/3541185/35855923-6f8fc9c0-0b2c-11e8-9df7-e98b24a59b79.jpg)

[2018-02-06 11:06] funkyboy commented on #685
@ricardopereira that would make a lot of sense. Do you know how they do that? GH hooks maybe?
That said we are trying to avoid hosting Jenkins. And as far as I know, with our current setup we can trigger only one "action" on Travis, which currently is "run tests in a sequence".